<%= render partial: 'competitions/sidebar' %>
<%= render partial: 'competitions/header', competition: @competition %>

<table class='table table-hover table-striped table-bordered'>
  <thead>
    <tr>
      <th>Ranking</th>
      <th>User</th>
      <th>Best score</th>
      <th>Entries</th>
      <th>Submitted</th>
    </tr>
  </thead>

  <tbody>
    <% @leaderboards.each_with_index do |leader,row| %>
      <tr>
        <td><%= row + 1 %></td>
        <td><%= leader.user.username %></td>
        <td><%= leader.score %></td>
        <td><%= leader.entries %></td>
        <td><%= leader.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
