<content>
  <%= concept(Challenge::Cell::ChallengeMasthead,
                @challenge,
                current_participant: current_participant) %>
  <%= concept(Challenge::Cell::ChallengeSubnav,
                @challenge,
                tab: 'leaderboard',
                current_participant: current_participant) %>
  <%= concept(Leaderboard::Cell::LeaderboardSubnav,
                @challenge,
                current_round: @current_round,
                current_participant: current_participant) %>

  <div class="row" id='leaderboard'>
    <table class="leaderboard">
      <%= concept(Leaderboard::Cell::TableHead,
                    @leaderboards,
                    challenge: @challenge,
                    current_participant: current_participant) %>
      <tbody>
        <%= render partial: 'leaderboards' %>
      </tbody>
    </table>
  </div>

  <% if @post_challenge == 'off' %>
    <%= render partial: 'post_challenge_off', locals: { challenge: @challenge } %>
  <% end %>
  <% if @post_challenge == 'on' %>
    <%= render partial: 'post_challenge_on', locals: { challenge: @challenge } %>
  <% end %>


  <span id='more-anchor'></span>
  <%= render partial: 'shared/load_more', locals: { collection: @leaderboards } %>

  <div id='modal-anchor'></div>
</content>
