<div class='content'>
  <%= concept(Challenge::Cell::ChallengeMasthead,
                @challenge,
                current_participant: current_participant) %>
  <%= render partial: 'challenges/show/subnav',
        locals: { challenge: @challenge } %>
  <%= concept(Leaderboard::Cell::LeaderboardSubnav,
                @challenge,
                current_round: @current_round,
                current_participant: current_participant) %>

  <div class="row">
    <table class="leaderboard">
      <%= concept(Leaderboard::Cell::TableHead,
                    @leaderboards,
                    challenge: @challenge,
                    current_round: @current_round,
                    current_participant: current_participant) %>
      <tbody>
        <%= render partial: 'leaderboards' %>
      </tbody>
    </table>
  </div>

  <% if @post_challenge == 'off' %>
    <%= render partial: 'post_challenge_off',
          locals: { challenge: @challenge } %>
  <% end %>
  <% if @post_challenge == 'on' %>
    <%= render partial: 'post_challenge_on',
          locals: { challenge: @challenge } %>
  <% end %>


  <span id='more-anchor'></span>
  <%= render partial: 'shared/load_more',
        locals: { collection: @leaderboards } %>
  <div id='modal-anchor'></div>
</div>
