<div class='content'>
  <%= concept(Challenge::Cell::ChallengeMasthead,
                @challenge,
                current_participant: current_participant) %>
  <%= render partial: 'challenges/show/subnav',
        locals: { challenge: @challenge } %>
  <%= concept(Leaderboard::Cell::ChallengeRoundPills,
                @challenge,
                current_round: @current_round,
                current_participant: current_participant) %>

  <% if @current_round.leaderboard_note.present? %>
    <div class='row'>
      <div class="leaderboard-note">
        <%= sanitize(@current_round.leaderboard_note) %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <% if policy(@challenge).show_leaderboard? %>
      <% unless @challenge.show_leaderboard? %>
        <div class="leaderboard-important-msg">
          <p>Leaderboard is only visible to organizers</p>
        </div>
      <% end %>
      <table class="leaderboard">
          <%= concept(Leaderboard::Cell::TableHead,
                @leaderboards,
                challenge: @challenge,
                current_round: @current_round,
                current_participant: current_participant) %>
          <tbody>
            <%= render partial: 'leaderboards' %>
          </tbody>
      </table>
    <% else %>
      <div class="leaderboard-msg">
        <p>Leaderboard is not displayed yet.</p>
      </div>
    <% end %>
  </div>

  <%= render partial: 'post_challenge',
        locals: { challenge: @challenge, post_challenge: @post_challenge } %>

  <span id='more-anchor'></span>
  <%= render partial: 'shared/load_more',
        locals: { collection: @leaderboards } %>
  <div id='modal-anchor'></div>
</div>
