<div class="detail">
  <div class="detail-header-bg"></div>
  <%= link_to challenge_leaderboards_path(@entry.challenge_id) do %>
    <i class="fa fa-times" aria-hidden="true"></i>
  <% end %>

  <div class="row">
    <%= render partial: 'leaderboards/show/header',
          locals: { participant: @participant, entry: @entry } %>

    <%= render partial: 'leaderboards/show/share',
          locals: { submission: @submission }%>

    <%= render partial: 'leaderboards/show/entry_description',
          locals: { entry: @entry, submission: @submission }  %>

    <%= render partial: 'leaderboards/show/comments',
          locals: {
            submission: @submission,
            entry: @entry } %>
  </div>
  <%= render partial: 'leaderboards/show/meta', locals: { submission: @submission } %>
</div>
