<p id="notice"><%= notice %></p>

<h1>Listing Teams</h1>

<div class='table-responsive'>
  <table>
    <thead>
      <tr>
        <th>Team</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @teams.each do |team| %>
      <tr>
        <td><%= team.team %></td>
        <td><%= team.description %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Team', new_team_path %>
