<div class="tab-pane" id="account">
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <%= simple_form_for(@participant, url: password_path(@participant), html: { method: :put }) do |f| %>

      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>

      <div class="form-inputs">
        <%= f.input :password, label: "New password", required: true, autofocus: true %>
        <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Change my password" %>
      </div>
      <% end %>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <br/>
      <br/>
      <br/>
      <br/>

      <h3><%= link_to "Cancel my account", registration_path(@participant), data: { confirm: "Are you sure?" }, method: :delete %></h3>
    </div>
  </div>

</div>
