

  <div class="row">
    <div class='col-md-12 text-center'>
      <%= simple_form_for(@participant) do |f| %>
        <%= f.error_notification %>
        <%= f.simple_fields_for :image, @participant.image.presence || Image.new do |avatar_fields| %>
          <%= avatar_fields.error_notification %>
          <div>
            <img src="<%= avatar_medium_url(@participant) %>"/>
          </div>

          <% if @participant.image.present? %>
            <%= avatar_fields.check_box '_destroy' %> remove? or
            <%= avatar_fields.label :image, "replace image?" %>
          <% else %>
            <%= avatar_fields.label :image, "Add your own image?" %>
          <% end %>

          <%= avatar_fields.file_field :image %>
        <% end %>
        <%=  f.button :submit, "Update Picture" %>
      <% end %>
    </div>
  </div>
