<p id="notice"><%= notice %></p>

<h1>Listing Dataset File Downloads</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dataset_file_downloads.each do |dataset_file_download| %>
      <tr>
        <td><%= link_to 'Show', dataset_file_download %></td>
        <td><%= link_to 'Edit', edit_dataset_file_download_path(dataset_file_download) %></td>
        <td><%= link_to 'Destroy', dataset_file_download, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dataset file download', new_dataset_file_download_path %>
