<br/>
<div class="row">
  <div class="col-md-2">
    <img src="<%= avatar_medium_url(@user) %>" class="img-thumbnail" />
      <% if current_user == @user || current_user.admin? %><br/>
        <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-success pull-right" %>
      <% end %>
  </div>
  <div class="col-md-10">
    Last seen <%= time_ago_in_words(@user.last_sign_in_at) %> ago.<br/>
    <%= @user.first_name %><br/>
    <%= @user.last_name %><br/>
    <%= @user.email %><br/>
    <%= simple_format(@user.bio) %><br/>
    <% if @user.website.present? %>
      Website: <%= @user.website %><br/>
    <% end %>
    <% if @user.github.present? %>
      Github: <%= @user.github %><br/>
    <% end %>
    <% if @user.linkedin.present? %>
      LinkedIn: <%= @user.linkedin %><br/>
    <% end %>
    <% if @user.twitter.present? %>
      Twitter: <%= @user.twitter %>
    <% end %>
  </div>
</div>
