<br/>
<div class="row">
  <div class="col-md-12 text-center">
    <img src="<%= avatar_medium_url(@user) %>" class="img-thumbnail" />
      <% if current_user == @user || current_user.admin? %><br/>
        <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-success pull-right" %>
      <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
    <h2>Last login <%= time_ago_in_words(@user.last_sign_in_at) %> ago.</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-10 text-center">
    <%= simple_format(@user.bio) %><br/>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <ul>
      <% if @user.website.present? %>
        <%= glyphicon_link 'user', 'My website', @user.website, class: 'btn btn-primary outline' %>
      <% end %>
      <% if @user.github.present? %>
        <%= awesome_link 'fa-github', 'Github', @user.github, class: 'btn btn-info btn-primary outline' %>
      <% end %>
      <% if @user.linkedin.present? %>
        <%= awesome_link 'fa-linkedin', 'LinkedIn', @user.linkedin, class: 'btn btn-info btn-primary outline' %>
      <% end %>
      <% if @user.twitter.present? %>
        <%= awesome_link 'fa-twitter', 'Twitter', @user.twitter, class: 'btn btn-info btn-primary outline' %>
      <% end %>
    </ul>
  </div>
</div>

    <%= @user.email %><br/>

  </div>
</div>
