<br/>
<div class="row">
  <div class="col-md-2">
    <%= simple_form_for(@user) do |f| %>
      <%= f.error_notification %>
      <%= f.simple_fields_for :image, @user.image.presence || Image.new do |avatar_fields| %>
        <%= avatar_fields.error_notification %>
        <div>
          <img src="<%= avatar_medium_url(@user) %>" class="img-thumbnail" />
        </div>

        <% if @user.image.present? %>
          <%= avatar_fields.check_box '_destroy' %> remove
        <% else %>
          <%= avatar_fields.label :image, "Add your own image?" %>
        <% end %>

        <%= avatar_fields.file_field :image %>
      <% end %>
      <%=  f.button :submit, "Update Picture" %>
    <% end %>
  </div>
  <div class="col-md-10">
    <% if @user.pending_reconfirmation? %>
      <%= render 'users/edit/account_pending' %>
    <% else %>
      <%= render 'users/edit/header_fields' %>
    <% end %>
  </div>
</div>
