<div class="tab-pane active" id="profile">
  <h1>Profile</h1>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= simple_form_for(@user) do |f| %>
        <%= f.error_notification %>
        <%= f.input :first_name, hint: 'Used in email correspondence and on your profile. Defaults to Username if left blank.' %>
        <%= f.input :last_name %>
        <%= f.input :username, required: true, hint: 'May be changed.' %>
        <%= f.input :email, required: true, hint: 'May be changed.' %>
        <%= f.input :email_public, label: 'Display your email address publically?' %>
        <%= f.input :website %>
        <%= f.input :github %>
        <%= f.input :linkedin %>
        <%= f.input :twitter %>

        <% if current_user.admin? %>
          <%= f.association :hosting_institution, :include_blank => false, :label_method => lambda { |host| "#{host.institution}" } %>
        <% else %>
          <%= f.hosting_institution %>
        <% end %>

        <% if @user.pending_reconfirmation? %>
          <p>Currently waiting for confirmation of: <%= @user.unconfirmed_email %></p>
        <% end %>

        <%= f.button :submit, "Update Details"  %>
      <% end %>
    </div>
  </div>
</div>
