<content>
  <div class="masthead-detailed">
    <div class="row">
      <div class="pic pic-user">
        <%= concept(Image::Cell,organizer,size: :medium, current_participant: current_participant) %>
      </div>
      <div class="info info-user">
        <div class="heading-w-icon">
          <h2><%= organizer.organizer %></h2>
          <% if policy(organizer).edit? %>
            <%= link_to edit_organizer_path(organizer), title: "Edit profile" do %>
              <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
        <p class="large"><%= organizer.description %></p>
        <p>
          <span><%= organizer.address %></span>
        </p>
      </div>
    </div>
  </div>

  <div class="sub-nav">
    <div class="row">
      <ul class='tabs'>
        <li data-tab='tab-challenges' class='active'>Challenges
          <sup><%= challenges.count %></sup>
        </li>
        <li data-tab='tab-members'>Members
          <sup><%= members.count %></sup>
        </li>
      </ul>
    </div>
  </div>

  <div id='tab-challenges' class='tab-content active'>
    <div class="row">
      <ul class="list-challenges">
        <%= concept(Challenge::Cell::ListDetail, collection: challenges, current_participant: current_participant) %>
      </ul>
    </div>
  </div>

  <div id='tab-members' class='tab-content'>
    <%= members_tab %>
  </div>
</content>
