<div class="sub-nav">
  <div class="row">
    <ul>
      <li class=<%= tab_class('challenges') %> >
        <%= link_to 'Challenges', organizer_path(organizer), class: tab_class('challenges') %>
        <sup><%= challenges.count %></sup>
      </li>
      <% if policy(organizer).update? %>
        <li class=<%= tab_class('members') %> >
          <%= link_to 'Members', organizer_members_path(organizer), class: tab_class('members') %>
          <sup><%= organizer.participants.count %></sup>
        </li>
        <% if organizer.clef? %>
          <li class=<%= tab_class('tasks') %> >
            <%= link_to 'Tasks', organizer_clef_tasks_path(organizer), class: tab_class('tasks') %>
            <sup><%= organizer.clef_tasks.count %></sup>
          </li>
        <% end %>
      <% end %>
    </ul>
    <% if policy(organizer).update? %>
      <% if current_tab == 'challenges' %>
        <%= link_to 'Create Challenge', new_organizer_challenge_path(organizer), class: "btn btn-secondary pull-right" %>
      <% end %>
      <%# if current_tab == 'members' %>
        <%#= link_to 'Invite Member', '#', class: "btn btn-secondary pull-right" %>
      <%# end %>
      <% if current_tab == 'tasks' %>
        <%= link_to 'Create Task', new_organizer_clef_task_path(organizer), class: "btn btn-secondary pull-right" %>
      <% end %>
    <% end %>
  </div>
</div>
