<div class="row">
  <%= form_for [@participant,@email_preference], html: {class: 'sgl-col' } do |f| %>
    <%= render "shared/error_messages", target: @email_preference %>
    <fieldset class="checkbox">
      <div>
        <%= f.check_box :newsletter %>
        <%= f.label :newsletter, 'Receive the crowdAI Newsletter' %>
      </div>
      <div>
        <%= f.check_box :challenges_followed %>
        <%= f.label :challenges_followed, 'Receive email for challenges which I am following
' %>
      </div>
      <div>
        <%= f.check_box :mentions %>
        <%= f.label :mentions, 'Receive emails when someone mentions me in a comment/post' %>
      </div>
    </fieldset>
    <fieldset class="checkbox">
		  <h4>Email Frequency</h4>
		  <div>
        <%= f.check_box :receive_every_email %>
        <%= f.label :receive_every_email, 'Receive every email' %>
      </div>
      <div>
        <%= f.check_box :receive_daily_digest %>
        <%= f.label :receive_daily_digest, 'Receive a daily digest email' %>
      </div>
      <div>
        <%= f.check_box :receive_weekly_digest %>
        <%= f.label :receive_weekly_digest, 'Receive a weekly digest email' %>
      </div>
      <%= f.hidden_field :unsubscribe_token, value: params[:unsubscribe_token] %>
    </fieldset>
    <div class="button-group">
      <%= f.button 'Save', type: 'submit', class: 'btn btn-primary' %>
      <%= button_to edit_participant_email_preference_path, class: 'btn btn-secondary' do %>
        Cancel
      <% end %>
    </div>
  <% end %>
</div>
