<div class="row">
  <%= form_for [@participant,@email_preference],
        html: {
          class: 'sgl-col',
            data: { controller: 'email-preferences' }
        } do |f| %>
    <%= render "shared/error_messages", target: @email_preference %>
    <fieldset class="checkbox">
      <div>
        <%= f.check_box :newsletter %>
        <%= f.label :newsletter, 'Receive the crowdAI Newsletter' %>
      </div>
      <div>
        <%= f.check_box :challenges_followed,
            { data:
              { target: 'challenges-followed',
              action: 'click->email-preferences#toggleFrequency' }
            }, "true", "false" %>
        <%= f.label :challenges_followed, 'Receive email for challenges which I am following' %>
      </div>
      <div>
        <%= f.check_box :mentions,
            { data:
              { target: 'email-preferences.mentions',
              action: 'click->email-preferences#toggleFrequency' }
            }, "true", "false" %>
        <%= f.label :mentions, 'Receive emails when someone mentions me in a comment/post' %>
      </div>
    </fieldset>
    <div data-target='email-preferences.frequency'>
		  <h4>Email Frequency</h4>
      <fieldset class='radiogroup'>
        <div>
          <%= f.label :email_frequency_every, 'Receive every email' %>
          <%= f.radio_button :email_frequency, 'every' %>
        </div>
      </fieldset>
      <fieldset class='radiogroup'>
        <div>
          <%= f.label :email_frequency_daily, 'Receive a daily digest email' %>
          <%= f.radio_button :email_frequency, 'daily' %>
        </div>
      </fieldset>
      <fieldset class='radiogroup'>
        <div>
          <%= f.label :email_frequency_weekly, 'Receive a weekly digest email' %>
          <%= f.radio_button :email_frequency, 'weekly' %>
        </div>
      </fieldset>
      <%= f.hidden_field :unsubscribe_token, value: params[:unsubscribe_token] %>
    </div>
    <div class="button-group">
      <%= f.button 'Save', type: 'submit', class: 'btn btn-primary' %>
      <%= button_to edit_participant_email_preference_path, class: 'btn btn-secondary' do %>
        Cancel
      <% end %>
    </div>
  <% end %>
</div>
