<%= simple_form_for([@participant,@email_preference]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <lead>General preferences</lead>
    <%= f.input :opt_out_all, label: 'Opt out of all emails' %>
    <%= f.input :newsletter, label: 'crowdAI Newsletter' %>

    <lead>In challenges in which I am participating</lead>
    <%= f.input :my_leaderboard, label: 'A new entry is made on the leaderboard' %>
    <%= f.input :any_post, label: 'Any discussion post is made' %>
    <%= f.input :my_topic_post, label: 'A post is made to a topic to which I am participating' %>

    <lead>In any challenge</lead>
    <%= f.input :any_leaderboard, label: 'A new entry is made on the leaderboard' %>
  </div>

  <%= f.hidden_field :unsubscribe_token, value: params[:unsubscribe_token] %>
  <div class="form-actions">
    <%= f.button :submit, 'Update Email Preferences', class: 'btn btn-primary outline' %>
  </div>
<% end %>
