<content class="background-grey">
	<div class="row">
    <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: 'panel' }, validate: true do |f| %>
			<fieldset>
				<div class="panel-body">
					<h3>Sign Up</h3>
          <%= render "shared/error_messages", :target => resource %>
					<p><strong>One account per individual.</strong> If you're joining as part of a company/organisation, please create an account for each individual.</p>
          <%= f.text_field :name, placeholder: 'Display name' %>
          <%= f.text_field :email, placeholder: 'Email address' %>
          <%= f.text_field :password, placeholder: 'Choose a password' %>
          <%= f.text_field :password_confirmation, placeholder: 'Re-type password' %>
					<p>By signing up, I agree to terms in the
            <%= link_to 'Terms of Service', pages_terms_path %>
            and the <%= link_to 'Privacy Policy', pages_privacy_path %>
          </p>
          <%= f.button 'Sign Up', type: 'submit', class: 'btn btn-primary' %>
				</div>
				<div class="panel-footer">
					<p>Already registered? <%= link_to 'Log In', new_participant_session_path %></p>
				</div>
			</fieldset>
    <% end %>
	</div>
</content>
