<div class="container-medium-grey">
  <br/><br/>
  <div class="row">
    <div class="col-md-12 text-center">
      <%= image_tag avatar_url(@participant,'medium'), size: '100x100', class: "img-circle" %>
      <% if current_participant == @participant || current_participant.admin? %><br/>
      <div id="button-container">
        <%= glyphicon_link 'pencil', nil, edit_participant_path(@participant), id: 'edit-participant-button', class: 'btn btn-primary btn-circle' %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <h1><%= @participant.name %></h1>
      <% if @participant.online? %>
      <h3>
        <i class="fa fa-circle-o" style="color:green"></i>
        <span style="color:green">
          <b>online now</b>
        </span>
        <h3>
        <% else %>
          <h2>Last seen
            <%= time_ago_in_words(@participant.updated_at) %>
            ago.</h2>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <%= markdown(@participant.bio) %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <%= link_to 'Email preferences', edit_participant_email_preference_path(@participant,@participant.email_preferences.first) %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <ul>
            <% if @participant.website.present? %>
            <%= glyphicon_link 'user', 'My website', @participant.website, class: 'btn btn-primary outline' %>
            <% end %>
            <% if @participant.github.present? %>
            <%= awesome_link 'fa-github', 'Github', @participant.github, class: 'btn btn-primary outline' %>
            <% end %>
            <% if @participant.linkedin.present? %>
            <%= awesome_link 'fa-linkedin', 'LinkedIn', @participant.linkedin, class: 'btn btn-primary outline' %>
            <% end %>
            <% if @participant.twitter.present? %>
            <%= awesome_link 'fa-twitter', 'Twitter', @participant.twitter, class: 'btn btn-primary outline' %>
            <% end %>
          </ul>
        </div>
      </div>

      <% if current_participant == @participant || current_participant.admin? %>
        <div class='row'>
          <div class="col-xs-12 text-center">
            <h3>API Key: 12323525346e574574574<h3>
            <p><%= awesome_link 'refresh', 'Regenerate Key', '#' %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
