<content>
  <%= concept(Challenge::Cell::ChallengeMasthead, @challenge) %>
  <%= concept(Challenge::Cell::ChallengeSubnav, @challenge, tab: 'discussion') %>

  <div class="row">
    <div class="discussion-topic">
      <div class="pic">
        <% if @author.is_a? NullParticipant %>
          <%= link_to '#' do %>
            <%= concept(Image::Cell,@author) %>
          <% end %>
        <% else %>
          <%= link_to participant_path(@author) do %>
            <%= concept(Image::Cell,@author) %>
          <% end %>
        <% end %>
      </div>
      <div class="topic-content">
        <%= concept(Vote::Cell,@topic) %>
        <h4><%= @topic.topic %></h4>
        <p class="details">Posted by
          <% if @author.is_a? NullParticipant %>
            <%= link_to @author.name, '#' %>
          <% else %>
            <%= link_to @author.name, participant_path(@author) %>
          <% end %>
          <%= time_ago_in_words(@topic.created_at) %> ago
        </p>
        <div class="comment">
          <p><%= simple_format(@first_comment.comment) %></p>
        </div>
      </div>
    </div>

    <% if current_participant %>
      <%= render partial: 'form', locals: { topic: @topic, comment: @comment } %>
    <% end %>
    <%= concept(Discussion::Cell::Comment, collection: @comments) %>
  </div>
</content>
