<div class='content'>
  <%= concept(Challenge::Cell::ChallengeMasthead,
                @challenge,
                current_participant: current_participant) %>
  <%= concept(Challenge::Cell::ChallengeSubnav,
                @challenge,
                tab: 'discussion',
                current_participant: current_participant) %>
  <div class="row">
    <div class="discussion-topic">
      <div class="pic">
        <% if @author.is_a? NullParticipant %>
          <%= link_to '#' do %>
            <%= concept(Image::Cell,
                          @author,
                          current_participant: current_participant) %>
          <% end %>
        <% else %>
          <%= link_to participant_path(@author) do %>
            <%= concept(Image::Cell,
                          @author,
                          current_participant: current_participant) %>
          <% end %>
        <% end %>
      </div>
      <div class="topic-content">
        <h4><%= @topic.topic %></h4>
        <p class="details">Posted by
          <% if @author.is_a? NullParticipant %>
            <%= link_to @author.name, '#' %>
          <% else %>
            <%= link_to @author.name, participant_path(@author) %>
          <% end %>
          <%= time_ago_in_words(@topic.created_at) %> ago
          <%= cell(Discussion::Cell::TopicAdmin,
                     @topic,
                     current_participant: current_participant) %>
        </p>
        <div class="comment">
          <p><%= sanatize(@first_comment.comment) %></p>
        </div>
        <%= concept(Vote::Cell,
                      @topic,
                      current_participant: current_participant) %>
      </div>
    </div>

    <% if current_participant %>
      <%= render partial: 'form', locals: { topic: @topic, comment: @comment } %>
    <% end %>
    <%= concept(Discussion::Cell::Comment,
                  collection: @comments,
                  current_participant: current_participant) %>
  </div>
</div>
