<div class="masthead-detailed">
  <div class="row">
    <div class="pic pic-tutorial">
      <%= concept('media/cell',article,size: :medium) %>
    </div>
    <div class="info info-tutorial">
      <h2><%= article.article %></h2>
      <p class="large"><%= article.summary %></p>
      <div class="user-link">
        <%= link_to participant_path(author) do %>
          <%= concept('media/cell',article,size: :thumb) %>
        <% end %>
        <p>By
           <%= link_to author.name, participant_path(author) %>
           &nbsp;
           <%= created_at %>
        </p>
      </div>
      <div class="button-group">
        <a class="btn btn-secondary" href="#"><i class="fa fa-heart" aria-hidden="true"></i> 8</a>
      </div>
    </div>
  </div>
</div>
