<li>
  <div class="pic">
    <%= link_to article_path(article) do %>
      <%= concept(Image::Cell,article) %>
    <% end %>
  </div>
  <div class="details">
    <h5><%= link_to article.article, article_path(article) %></h5>
    <p class="description"><%= article.summary %></p>
    <p class="user">By
      <%= link_to author.name, participant_path(author) %>
    </p>
  </div>
  <div class="stats">
    <div class="stat-fr">
      <%= article.vote_count %><br/>
      <span><%= "Like".pluralize(article.vote_count) %></span>
    </div>
    <div class="stat-fr">
      <%= article.view_count %><br/>
      <span><%= "View".pluralize(article.view_count) %></span>
    </div>
  </div>
</li>
