  <div id='section-<%= @article_section.section.parameterize %>'>

    <%= simple_form_for([@article,@article_section], remote: true) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="row">
        <div class="col-xs-6">
          <%= f.input :section %>
        </div>
        <div class="col-xs-3">
          <%= f.input :icon, :collection => ArticleSection::ICONS.sort.map {|k,v| [v,k]} %>
        </div>
        <div class="col-xs-3">
          <%= f.input :seq %>
        </div>
      </div>
      <%= f.input :description_markdown, input_html: { rows: 20 }, hint: 'Use markdown formatting for this field.' %>
    </div>

      <div class='pull-right'>
        <%= f.button :submit, class: 'btn btn-primary outline' %>
      </div>
    <% end %>

  </div>
