<p id="notice"><%= notice %></p>

<p>
  <strong>Institution:</strong>
  <%= @hosting_institution.institution %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hosting_institution.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hosting_institution.description %>
</p>


<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Username</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hosting_institution.users.each do |user| %>
      <tr>
        <td><%= user.hosting_institution_primary %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td><%= link_to 'Remove', [@hosting_institution, user], method: :nullify, data: { confirm: 'Remove this user from the administration of your institution on CrowdAI?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit Details', edit_hosting_institution_path(@hosting_institution) %>
