<div class='content'>
  <div class="masthead">
    <div class="row">
      <div class="info">
        <h2><%= @challenge_call.title %></h2>
        <p>by <%= link_to @challenge_call.organizer.organizer, organizer_path(@challenge_call.organizer) %></p>
        <% if @challenge_call.closing_date.present? %>
          <p class='light'>Closing date: <%= @challenge_call.closing_date.strftime("%d %b %Y, %H:%M UTC") %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <% if @challenge_call.call_closed? %>
      <%= render partial: 'call_closed' %>
    <% else %>
      <%= render partial: 'call_open' %>
    <% end %>
  </div>
</div>
