<div class="masthead-detailed" data-cell='Article::Cell::ArticleMasthead'>
  <div class="row">
    <div class="pic pic-tutorial">
      <%= concept(Image::Cell,article,size: :medium, current_participant: current_participant) %>
    </div>
    <div class="info info-tutorial">
      <div class="heading-w-icon">
        <h2><%= article.article %></h2>
        <% if policy(article).edit? %>
          <%= link_to edit_article_path(article), title: "Edit article" do %>
            <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
      <p class="large"><%= article.summary %></p>
      <div class="user-link">
        <% if article.participant.is_a? NullParticipant %>
          <%= link_to '#' do %>
            <%= concept(Image::Cell,article.participant, current_participant: current_participant) %>
          <% end %>
          <p>By
            <%= link_to article.participant.name, '#' %>
            &nbsp;
            <%= article.created_at.strftime(Crowdai::DATE_FORMAT) %>
          </p>
        <% else %>
          <%= link_to participant_path(article.participant) do %>
            <%= concept(Image::Cell,article.participant, current_participant: current_participant) %>
          <% end %>
          <p>By
            <%= link_to article.participant.name, participant_path(article.participant) %>
            &nbsp;
            <%= article.created_at.strftime(Crowdai::DATE_FORMAT) %>
          </p>
        <% end %>
      </div>
      <div class="button-group">
        <%= concept(Vote::Cell, article, current_participant: current_participant) %>
      </div>
    </div>
  </div>
</div>
