<section class="knowledge-header-section">
  <div class='text-center'>
    <h1><%= image_tag('crowdai_head_no_background', size: '60x60', class: 'crowdai-head') %>Knowledge Base</h1>
    <div class="header-text">The place to build and find high quality resources to help data scientists at all<br/>
    levels of expertise, from beginners to experts.</div>
    <div>
      <% if policy(Article.new).create? %>
        <%= link_to 'Create a tutorial', new_article_path, class: "btn btn-white-outline" %>
      <% end %>
    </div>
  </div>
</section>

<div>
  <div class="challenges-container">

    <div class="topics-container">
      <div class="row">
        <div class="col-md-3">
          <%= search_form_for @query do |f| %>
            <%= f.select :category_eq, options_for_select(Article::CATEGORIES.sort.map {|k,v| [v,k]}), {include_blank: true},  { onchange: 'this.form.submit();' } %>

            <%#= f.submit  %>
          <% end %>


        </div>
      </div>
    </div>

    <ul class="challenges-list">
      <% @articles.each do |article| %>
        <%= render partial: 'articles/index/article', locals: { article: article } %>
      <% end %>
    </ul>
  </div>
</div>
