<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>New Competition</h1>

    <%= simple_form_for(@competition) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.hidden_field :hosting_institution_id, value: current_user.hosting_institution_id %>
      <%= f.input :competition %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :status, collection: enum_option_pairs(Competition, :status) %>
      <%= f.input :description, as: :bootsy, input_html: { rows: 10 } %>
      <%= f.input :evaluation, as: :bootsy, input_html: { rows: 10 } %>
      <%= f.input :evaluation_criteria, as: :bootsy, input_html: { rows: 10 } %>
      <%= f.input :rules, as: :bootsy, input_html: { rows: 10 } %>
      <%= f.input :prizes, as: :bootsy, input_html: { rows: 10 } %>
      <%= f.input :resources, as: :bootsy, input_html: { rows: 10 } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
    <% end %>

  </div>
</div>
