<%= simple_form_for(@competition) do |f| %>
  <%= f.error_notification %>

 <%= current_user.hosting_institution_id %>

  <div class="form-inputs">
    <%= f.hidden_field :hosting_institution_id, value: current_user.hosting_institution_id %>
    <%= f.input :competition %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :status, collection: enum_option_pairs(Competition, :status) %>
    <%= f.input :description %>
    <%= f.input :evaluation %>
    <%= f.input :evaluation_criteria %>
    <%= f.input :rules %>
    <%= f.input :prizes %>
    <%= f.input :resources %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
