<% content_for(:header) do %>

  <div class="page-header">
    <h1>Page header</h1>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <%= image_tag 'https://kaggle2.blob.core.windows.net/competitions/kaggle/4729/logos/front_page.png' %>
      <h4><%= link_to @competition.hosting_institution.institution, hosting_institution_path(@competition.hosting_institution) %></h4>
    </div>
    <div class="col-md-8">
      <h2><%= @competition.competition %></h2>
      <div class="progress">
        <div class="progess-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" title="" style="width: 40%">Day 14</div>
      </div>
      <div class="pull-left"><%= @competition.start_date %></div>
      <div class="pull-right"><%= @competition.end_date %></div>
    </div>
    <div class="col-md-1"></div>
  </div>

<% end %>
<br/><br/>
