<% content_for(:sidebar) do %>
<br/>
<br/>
<div class="panel panel-default">
  <div class="panel-body">
    <ul class="nav nav-stacked">
      <li><%= link_to 'Overview', competition_path(@competition, anchor: 'overview') %></li>
      <li><%= link_to 'Rules', competition_path(@competition, anchor: 'rules') %></li>
      <li><%= link_to 'Prizes', competition_path(@competition, anchor: 'prizes') %></li>
      <li><%= link_to 'Resources', competition_path(@competition, anchor: 'resources') %></li>
      <hr/>
      <li><%= link_to 'Submissions', competition_submissions_path(@competition) %></li>
      <li><%= link_to 'Discussion', competition_topics_path(@competition) %><li>
      <li><%= link_to 'Leaderboard', competition_leaderboards_path(@competition) %></li>
      <li><%= link_to 'Dataset', competition_dataset_files_path(@competition) %></li>
    </ul>
  </div>
</div>

<% if current_user.hosting_institution_id == @competition.hosting_institution_id %>
  <%= link_to 'Edit', edit_competition_path(@competition), class: 'btn btn-success' %>
  <%= link_to 'Delete', @competition, method: :delete, data: { confirm: 'Permanently delete this competition from CrowdAI?' }, class: 'btn btn-danger' %>
<% end %>

<% end %>
