<p id="notice"><%= notice %></p>

<ul class="list-group">
  <% @competitions.each do |competition| %>
    <li class="list-group-item">
      <%= competition.hosting_institution %>
      <%= competition.competition %>
      <%= competition.start_date %>
      <%= competition.end_date %>
      <%= competition.status_cd %>
    </li>
  <% end %>
</ul>


<hr/>

<%= link_to 'New Competition', new_competition_path %>
