<%= render partial: 'sidebar' %>
<%= render partial: 'header', competition: @competition %>

  <div data-spy="scroll" data-target=".navbar" data-offset="50">
    <div>
      <%= render 'competitions/show/overview', competition: @competition %>
      <%= render 'competitions/show/evaluation', competition: @competition %>
      <%= render 'competitions/show/rules', competition: @competition %>
      <%= render 'competitions/show/prizes', competition: @competition %>
      <%= render 'competitions/show/resources', competition: @competition %>
    </div>
  </div>
