<%= simple_form_for([@challenge, @topic]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :challenge, as: :hidden %>
    <%= f.hidden_field :user_id, value: current_participant.id %>
    <%= f.input :topic %>
    <% if current_participant.admin? %>
      <%= f.input :sticky %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
