<%= simple_form_for([@competition, @topic]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :competition, as: :hidden %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.input :topic %>
    <% if current_user.admin? %>
      <%= f.input :sticky %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
