<div class='content'>
  <%= concept(Challenge::Cell::ChallengeMasthead,
                @challenge,
                current_participant: current_participant) %>
  <%= concept(Challenge::Cell::ChallengeSubnav,
                @challenge,
                tab: 'discussion',
                current_participant: current_participant) %>
  <div class='row'>
    <div class="discussion-comment">
      <div class="pic">
        <%= link_to participant_path(current_participant) do %>
        <%= concept(Image::Cell,current_participant) %>
        <% end %>
      </div>
      <%= form_for [@challenge,@topic] do |f| %>
      <fieldset>
        <label>Topic</label>
        <%= f.text_field :topic %>
        <%= f.fields_for @topic.comments.first do |comment| %>
        <label>Comment</label>
        <%= comment.text_area :comment_markdown, placeholder: "Add a comment..." %>
        <%= comment.hidden_field :participant_id %>
        <%= comment.hidden_field :id %>
        <% end %>
      </fieldset>
      <%= f.hidden_field :participant_id, value: current_participant.id %>
      <%= f.submit 'Update topic', class: 'btn btn-primary pull-right' %>
      <% end %>
    </div>
  </div>
</div>
