<%= render partial: 'competitions/sidebar' %>
<%= render partial: 'competitions/header', competition: @competition %>

<%= link_to 'New Topic', new_competition_topic_path(@competition), class: 'btn btn-primary' %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Topic</th>
      <th>Sticky</th>
      <th>Views</th>
      <th>Posts count</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% if @topics %>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.topic, new_topic_post_path(topic) %></td>
        <td><%= topic.sticky %></td>
        <td><%= topic.views %></td>
        <td><%= topic.posts_count %></td>
        <td><%= link_to 'Edit', edit_competition_topic_path(@competition,topic) %></td>
        <td><%= link_to 'Destroy', [@competition,topic], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>
