<content>
  <%= concept(Challenge::Cell::ChallengeMasthead, @challenge) %>
  <%= concept(Challenge::Cell::ChallengeSubnav, @challenge, tab: 'discussion') %>

  <div class="row">
    <div class="list-options">
      <p><%= pluralize(@topics.count, 'Topic') %> | <a href="#">Subscribe</a></p>
      <%= link_to 'New Topic', new_challenge_topic_path(@challenge), class: 'btn btn-secondary' %>
    </div>
    <%= concept(Discussion::Cell::List, @topics) %>
  </div>
</content>
