<%= render partial: 'competitions/sidebar' %>
<%= render partial: 'competitions/header', competition: @competition %>

<p>
  <strong>Competition:</strong>
  <%= @topic.competition %>
</p>

<p>
  <strong>User:</strong>
  <%= @topic.user %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @topic.topic %>
</p>

<p>
  <strong>Sticky:</strong>
  <%= @topic.sticky %>
</p>

<p>
  <strong>Views:</strong>
  <%= @topic.views %>
</p>

<p>
  <strong>Posts count:</strong>
  <%= @topic.posts_count %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
