<div class="row">
  <%= form_for [@organizer,@challenge], validate: true, html: { class: "sgl-col", multipart: true } do |f| %>
    <fieldset>
      <label>Challenge Title</label>
      <%= f.text_field :challenge %>
      <label>Tagline</label>
      <%= f.text_field :tagline %>
      <div class="twin-container">
        <div class="twin-field">
          <label>Challenge Status</label>
          <%= f.select :status, enum_option_pairs(Challenge, :status), include_blank: false %>
        </div>
        <div class="twin-field">
          <label>Featured Sequence</label>
          <%= f.text_field :featured_sequence %>
        </div>
      </div>

      <label>Image</label>
      <div class="upload">
        <%= concept(Image::Cell,challenge,klass: 'img-thumb') %>
        <%= f.file_field :image_file, class: 'file-upload' %>
        <% if @challenge.image_file.present? %>
          <%= link_to 'Delete', challenge_remove_image_path(@challenge) %>
        <% end %>
        <span>Your image will be cropped if necessary. 5MB limit</span>
      </div>
      <label>Host</label>
      <input type='text' value='<%= @challenge.organizer.organizer %>' disabled>
    </fieldset>

    <%= f.hidden_field :start_date %>
    <%= f.hidden_field :end_date %>
    <%= f.hidden_field :start_time %>
    <%= f.hidden_field :end_time %>
    <%= f.hidden_field :organizer_id %>

    <fieldset>
      <h4>Challenge Rounds</h4>
      <div id='rounds'>
        <%= f.fields_for :challenge_rounds do |challenge_round| %>
          <%= render 'challenges/form/challenge_round_fields', f: challenge_round %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association '+ Challenge Round', f, :challenge_rounds,
                                    html_options = { partial: 'challenges/form/challenge_round_fields' } %>
        </div>
      </div>
    </fieldset>

    <%= render partial: 'challenges/form/submit_buttons', locals: { f: f } %>
<% end %>
</div>
