<div class="row">
  <%= form_for @challenge, validate: true, html: { class: "dbl-col" } do |f| %>
  <fieldset>
    <div class="twin-container">
      <div class="twin-field">
        <label>API Key</label>
      </div>
      <div class="twin-field">
         <%= awesome_link 'refresh', 'Regenerate Key', challenge_regen_api_key_path(challenge) %>
      </div>
    </div>
    <label><%= challenge.api_key %></label>
    <br/>
    <div class="twin-container">
      <div class="twin-field">
        <label>Challenge Client Name</label>
        <%= f.text_field :challenge_client_name %>
      </div>
      <div class="twin-field">
      </div>
    </div>
    <div class="twin-container">
      <div class="twin-field">
        <%= f.select :grader, enum_option_pairs(Challenge, :grader), include_blank: false %>
      </div>
      <div class="twin-field">
      </div>
    </div>
    <fieldset class="checkbox">
    <div>
      <%= f.check_box :automatic_grading, {}, "true", "false" %>
      <label for="">Automatic grading</label>
    </div>
    <div>
      <%= f.check_box :media_on_leaderboard, {}, "true", "false" %>
      <label for="">Media on leaderboard</label>
    </div>
  </fieldset>
  <div class="twin-container">
    <div class="twin-field">
      <label>Grading factor</label>
      <%= f.text_field :grading_factor %>
    </div>
    <div class="twin-field">
      <label>Threshold</label>
      <%= f.text_field :threshold %>
    </div>
  </div>
  <label>Answer file</label>
  <div class="upload">
    <input class="file-upload" type="file" accept="all">
  </div>
  <div class="twin-container">
    <div class="twin-field">
      <label>Primary score title</label>
      <%= f.text_field :score_title %>
    </div>
    <div class="twin-field">
      <label>Sort order</label>
      <%= f.select :primary_sort_order, enum_option_pairs(Challenge, :primary_sort_order), include_blank: false %>
    </div>
  </div>
  <div class="twin-container">
    <div class="twin-field">
      <label>Secondary score title</label>
      <%= f.text_field :score_secondary_title %>
    </div>
    <div class="twin-field">
      <label>Sort order</label>
      <%= f.select :secondary_sort_order, enum_option_pairs(Challenge, :secondary_sort_order), include_blank: false %>
    </div>
  </div>
  <label>Evaluation Criteria</label>
  <%= markdown_editor("description_markdown") do |m| %>
  <%= f.text_area :evaluation_markdown, class: "txt-med" %>
  <% end %>
  <%= render partial: 'challenges/form/submit_buttons', locals: { f: f } %>
</fieldset>
<% end %>
</div>
