<div role="tabpanel" class="tab-pane" id="evaluation">
  <h1>Evaluation</h1>
  <div class="row">
    <div class="col-md-3">
      <%= f.input :grader, collection: enum_option_pairs(Challenge, :grader) %>
      <%= f.input :primary_sort_order, label: "Primary sort", collection: enum_option_pairs(Challenge, :primary_sort_order) %>
    </div>
    <div class="col-md-3">
      <%= f.input :grading_factor %>
      <%= f.input :secondary_sort_order, label: "Secondary sort", collection: enum_option_pairs(Challenge, :secondary_sort_order) %>
    </div>
    <div class="col-md-3">
    </div>
  </div>

  <div class="markdown-editor">
    <ul class="nav nav-tabs" data-tabs="tabs">
      <li class="active">
        <a href="#editor-pane-evaluation" data-toggle="tab">Write</a>
      </li>
      <li>
        <a href="#preview-pane-evaluation" class="preview-pane-link" data-toggle="tab">Preview</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="editor-pane-evaluation">
        <%= f.label 'Evaluation' %>
        <%= render 'markdown_editor/toolbar' %>
        <%= f.text_area :evaluation_markdown,
                        class: 'form-control markdown-textarea',
                        placeholder: 'Enter evaluation criteria.',
                        required: true,
                        rows: 30 %>
      </div>
      <div class="tab-pane markdown-preview-pane" id="preview-pane-evaluation">
        <div id="markdown-preview"></div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary outline' %>
  </div>
</div>
