<div role="tabpanel" class="tab-pane" id="timeline">
  <h1>Timeline</h1>
  <%= f.input :perpetual_challenge %>

  <div class="events-configuration">
    <%= f.simple_fields_for :events do |event| %>
      <%= render 'challenges/form/event_fields', f: event %>
    <% end %>
    <%= link_to_add_association 'Add Milestone', f, :events,
                              html_options = { partial: 'challenges/form/event_fields',
                                               class: 'btn btn-primary outline' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary outline' %>
  </div>
</div>
