<div class="page-content-container">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#overview" id="overview-tab" aria-controls="overview" role="tab" data-toggle="tab">Overview</a>
    </li>
    <li role="presentation" role="tablist">
      <a href="#logo" id="logo-tab" aria-controls="logo" role="tab" data-toggle="tab">Logo Image</a>
    </li>
    <li role="presentation">
      <a href="#evaluation" id="evaluation-tab" aria-controls="evalution" role="tab" data-toggle="tab">Evaluation</a>
    </li>
    <li role="presentation">
      <a href="#rules" id="rules-tab" aria-controls="rules" role="tab" data-toggle="tab">Rules</a>
    </li>
    <li role="presentation">
      <a href="#prizes" id="prizes-tab" aria-controls="prizes" role="tab" data-toggle="tab">Prizes</a>
    </li>
    <li role="presentation">
      <a href="#resources" id="resources-tab" aria-controls="resources" role="tab" data-toggle="tab">Resources</a>
    </li>
    <li role="presentation">
      <a href="#timeline" id="timeline-tab" aria-controls="timeline" role="tab" data-toggle="tab">Timeline</a>
    </li>
    <li role="presentation">
      <a href="#submission-instructions" id="submission-instructions-tab" aria-controls="submission-instructions" role="tab" data-toggle="tab">Submission</a>
    </li>
    <li role="presentation">
      <a href="#dataset-configuration" id="dataset-configuration-tab" aria-controls="dataset-configuration" role="tab" data-toggle="tab">Dataset</a>
    </li>
    <li role="presentation">
      <% if @challenge.persisted? %>
      <%= link_to 'Docker', challenge_docker_configurations_path(@challenge) %>
    <% else %>
      <%= link_to 'Docker', '#' %>
      <% end %>
    </li>
  </ul>

  <!-- content -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

        <%= simple_form_for @challenge,
                          html: { class: "directUpload" },
                          data: { 'form-data' => (@s3_direct_post.fields),
                                'url' => @s3_direct_post.url,
                                'host' => URI.parse(@s3_direct_post.url).host } do |f| %>

      <div class="has-error">
        <% if f.object.errors.any? %>
          <br/>
          <% f.object.errors.full_messages.each do |msg| %>
            <div class='alert alert-danger'><%= msg %></div>
          <% end %>
        <% end %>
      </div>

      <%= f.hidden_field :organizer_id, value: current_participant.organizer_id %>

      <!-- Tab panes -->
      <div class="tab-content">
        <%= render 'challenges/form/overview', f: f %>
        <%= render 'challenges/form/logo', f: f %>
        <%= render 'challenges/form/evaluation', f: f, challenge: @challenge %>
        <%= render 'challenges/form/rules', f: f %>
        <%= render 'challenges/form/prizes', f: f %>
        <%= render 'challenges/form/resources', f: f %>
        <%= render 'challenges/form/event', f: f %>
        <%= render 'challenges/form/submission_instructions', f: f %>
        <%= render 'challenges/form/dataset_configuration', f: f %>
      </div>
      <% end %>

    </div>
  </div>

</div>
