<div class="content">
	<div class="masthead">
		<div class="row">
			<div class="info">
        <% if challenge.persisted? %>
          <h6><%= challenge.challenge %></h6>
        <% end %>
				<h2><%= title %></h2>
			</div>
		</div>
	</div>

  <div class="sub-nav">
    <div class="row">
      <ul class='tabs'>
        <li data-tab='tab-details' class='active'>Details</li>
        <li data-tab='tab-type'>Rounds</li>
        <li data-tab='tab-overview'>Overview</li>
        <li data-tab='tab-submissions'>Submissions</li>
        <li data-tab='tab-winner'>Winner</li>
        <% if current_participant.admin? %>
          <li data-tab='tab-dynamic'>Dynamic</li>
        <% end %>
      </ul>
    </div>
	</div>

    <div id='tab-details' class='tab-content active'>
      <%= render partial: 'challenges/form/details', locals: { challenge: challenge } %>
    </div>
    <div id='tab-type' class='tab-content'>
      <%= render partial: 'challenges/form/rounds', locals: { challenge: challenge } %>
    </div>
    <div id='tab-overview' class='tab-content'>
      <%= render partial: 'challenges/form/overview', locals: { challenge: challenge } %>
    </div>
    <div id='tab-submissions' class='tab-content'>
      <%= render partial: 'challenges/form/submissions', locals: { challenge: challenge } %>
    </div>

    <div id='tab-winner' class='tab-content'>
      <%= render partial: 'challenges/form/winner', locals: { challenge: challenge } %>
    </div>
    <% if current_participant.admin? %>
      <div id='tab-dynamic' class='tab-content'>
        <%= render partial: 'challenges/form/dynamic_content', locals: { challenge: challenge } %>
      </div>
    <% end %>

  <% if policy(challenge).destroy? %>
    <div class="additional">
      <div class="row">
        <a data-remodal-target="modal">Delete Challenge</a>
      </div>
    </div>
  <% end %>
</div>
