<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a>
    </li>
    <li role="presentation" role="tablist">
      <a href="#logo" aria-controls="logo" role="tab" data-toggle="tab">Logo Image</a>
    </li>
    <li role="presentation">
      <a href="#evaluation" aria-controls="evalution" role="tab" data-toggle="tab">Evaluation</a>
    </li>
    <li role="presentation">
      <a href="#rules" aria-controls="rules" role="tab" data-toggle="tab">Rules</a>
    </li>
    <li role="presentation">
      <a href="#prizes" aria-controls="prizes" role="tab" data-toggle="tab">Prizes</a>
    </li>
    <li role="presentation">
      <a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">Resources</a>
    </li>
    <li role="presentation">
      <a href="#datasets" aria-controls="datasets" role="tab" data-toggle="tab">Datasets</a>
    </li>
    <li role="presentation">
      <a href="#timeline" aria-controls="timelines" role="tab" data-toggle="tab">Timeline</a>
    </li>
    <li role="presentation">
      <a href="#submission-instructions" aria-controls="submission-instructions" role="tab" data-toggle="tab">Submission</a>
    </li>
  </ul>

  <!-- content -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <%= simple_form_for @challenge do |f| %>
        <%= f.hidden_field :organizer_id, value: current_user.organizer_id %>

        <!-- Tab panes -->
        <div class="tab-content">
          <%= render 'challenges/form/overview', f: f %>
          <%= render 'challenges/form/logo', f: f %>
          <%= render 'challenges/form/evaluation', f: f %>
          <%= render 'challenges/form/rules', f: f %>
          <%= render 'challenges/form/prizes', f: f %>
          <%= render 'challenges/form/resources', f: f %>
          <%= render 'challenges/form/timeline', f: f %>
          <%= render 'challenges/form/submission_instructions', f: f %>
        </div>
      <% end %>

    </div>
  </div>

</div>
