<content>
	<div class="masthead">
		<div class="row">
			<div class="info">
				<h2><%= title %></h2>
			</div>
		</div>
	</div>

  <div class="sub-nav">
    <div class="row">
      <ul class='tabs'>
        <li data-tab='tab-details' class='active'>Details</sup></li>
        <li data-tab='tab-overview'>Overview</li>
        <li data-tab='tab-evaluation'>Evaluation</li>
        <li data-tab='tab-rules'>Rules</li>
        <li data-tab='tab-prizes'>Prizes</li>
        <li data-tab='tab-resources'>Resources</li>
        <li data-tab='tab-submission'>Submission</li>
        <li data-tab='tab-dataset'>Dataset</li>
      </ul>
    </div>
	</div>

    <div id='tab-details' class='tab-content active'>
      <%= render partial: 'challenges/form/details', locals: { challenge: challenge } %>
    </div>
    <div id='tab-overview' class='tab-content'>
      <%= render partial: 'challenges/form/overview', locals: { challenge: challenge } %>
    </div>
    <div id='tab-evaluation' class='tab-content'>
      <%= render partial: 'challenges/form/evaluation', locals: { challenge: challenge } %>
    </div>
    <div id='tab-rules' class='tab-content'>
      <%= render partial: 'challenges/form/rules', locals: { challenge: challenge } %>
    </div>
    <div id='tab-prizes' class='tab-content'>
      <%= render partial: 'challenges/form/prizes', locals: { challenge: challenge } %>
    </div>
    <div id='tab-resources' class='tab-content'>
      <%= render partial: 'challenges/form/resources', locals: { challenge: challenge } %>
    </div>
    <div id='tab-submission' class='tab-content'>
      <%= render partial: 'challenges/form/submission', locals: { challenge: challenge } %>
    </div>
    <div id='tab-dataset' class='tab-content'>
      <%= render partial: 'challenges/form/dataset', locals: { challenge: challenge } %>
    </div>

  <% if policy(challenge).destroy? %>
    <div class="additional">
      <div class="row">
        <a data-remodal-target="modal">Delete Challenge</a>
      </div>
    </div>
  <% end %>
</content>
