  <div class='row'>
    <table class='submissions'>
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Invited (UTC)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :invitations do |invitation| %>
          <tr class="nested-fields">
            <td><%= invitation.object.email %></td>
            <td><%= participant_invitation(email: invitation.object.email) %></td>
            <td><%= invitation.object.created_at %></td>
            <td><%= link_to_remove_association "remove", invitation %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br/><br/>
    <div class='links'>
      <%= link_to_add_association '+ Invite participant',
            f,
            :invitations,
            html_options = {
              partial: 'challenges/form/invitation_fields' } %>
    </div>
    <br/><br/>

  </div>
