<div class="tab-pane" id="logo">

  <h2>Challenge Logo</h2>
  <div class="row">
    <div class='col-md-6'>

        <%= f.simple_fields_for :image, @challenge.image.presence || Image.new do |image| %>
          <%= image.error_notification %>

          <%= image.label :image do %>
            <img src="<%= image_medium_url(@challenge) %>"/>
          <% end %>

          <%= image.file_field :image, class: 'upload-btn' %>
          <br/>

        <% end %>
        <%=  f.button :submit, "Update Logo", class: "btn btn-primary outline" %>
    </div>
  </div>

</div>
