<div class="tab-pane" id="logo">

  <h2>Challenge Logo</h2>
  <div class="row">
    <div class='col-md-6'>

        <%= f.error_notification %>
        <%= f.simple_fields_for :image, @challenge.image.presence || Image.new do |image| %>
          <%= image.error_notification %>
          <div>
            <img src="<%= image_medium_url(@challenge) %>"/>
          </div>

          <% if @challenge.image.present? %>
            <%= image.check_box '_destroy' %> remove
          <% end %>

          <span class="btn btn-primary outline">
              Browse <%= image.file_field :image %>
          </span>


        <% end %>
        <%=  f.button :submit, "Update Logo", class: "btn btn-primary outline" %>
    </div>
  </div>

</div>
