<div role="tabpanel" class="tab-pane active" id="overview">

  <h1>Overview</h1>
  <%= f.error_notification %>

    <%= f.input :challenge %>
    <%= f.input :tagline %>
    <%= f.association :organizer, collection: Organizer.all, value_method: :id, label_method: :organizer, priority: @challenge.organizer, include_blank: false %>
    <%= f.input :status, collection: enum_option_pairs(Challenge, :status) %>

    <div class="markdown-editor">
      <ul class="nav nav-tabs" data-tabs="tabs">
        <li class="active">
          <a href="#editor-pane-description" data-toggle="tab">Write</a>
        </li>
        <li>
          <a href="#preview-pane-description" class="preview-pane-link" data-toggle="tab">Preview</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="editor-pane-description">
          <%= f.label 'Description' %>
          <%= render 'markdown_editor/toolbar' %>
          <%= f.text_area :description_markdown,
                          class: 'form-control markdown-textarea',
                          placeholder: 'Describe this challenge.',
                          required: true,
                          rows: 30 %>
        </div>
        <div class="tab-pane markdown-preview-pane" id="preview-pane-description">
          <div class="markdown-preview"></div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary outline' %>
    </div>

</div>
