<div class="row">
  <%= form_for [@organizer,@challenge], validate: true, html: { class: "dbl-col" } do |f| %>
  <fieldset>
    <label>Overview</label>
    <%= markdown_editor do |m| %>
      <%= f.text_area :description_markdown, class: "txt-med" %>
    <% end %>

    <label>Evaluation Criteria</label>
    <%= markdown_editor do |m| %>
      <%= f.text_area :evaluation_markdown, class: "txt-med" %>
    <% end %>

    <label>Rules</label>
    <%= markdown_editor do |m| %>
      <%= f.text_area :rules_markdown, class: "txt-med" %>
    <% end %>

    <label>Prizes</label>
    <%= markdown_editor do |m| %>
      <%= f.text_area :prizes_markdown, class: "txt-med" %>
    <% end %>

    <label>Resources</label>
    <%= markdown_editor do |m| %>
      <%= f.text_area :resources_markdown, class: "txt-med" %>
    <% end %>

    <label>Datasets License</label>
    <%= markdown_editor do |m| %>
      <%= f.text_area :dataset_description_markdown, class: "txt-med" %>
    <% end %>

    <fieldset>
      <h4>Submission File Definitions</h4>
      <div id='submission-file-definitions'>
        <%= f.fields_for :submission_file_definitions do |file| %>
          <%= render 'challenges/form/submission_file_definition_fields', f: file %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association '+ Submission File Definition', f, :submission_file_definitions,
                                    html_options = { partial: 'challenges/form/submission_file_definition_fields' } %>
        </div>
      </div>
      <br/><br/>
  </fieldset>

  <fieldset>
    <h4>Partner Logos</h4>
    <div id='partner-logos'>
      <%= f.fields_for :challenge_partners do |partner| %>
        <%= render 'challenges/form/challenge_partner_fields', f: partner %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association '+ Partner Logo', f, :challenge_partners,
                                  html_options = { partial: 'challenges/form/challenge_partner_fields' } %>
      </div>
    </div>
    <br/><br/>
  </fieldset>
  <%= render partial: 'challenges/form/submit_buttons', locals: { f: f } %>
  <% end %>
</div>
