<div role="tabpanel" class="tab-pane active" id="overview">

  <h1>Overview</h1>
  <%= f.error_notification %>

    <%= f.input :challenge %>
    <%= f.input :tagline %>
    <%= f.association :organizer, collection: Organizer.all, value_method: :id, label_method: :organizer, priority: @challenge.organizer, include_blank: false %>
    <%= f.input :status, collection: enum_option_pairs(Challenge, :status) %>
    <%= f.input :description, as: :bootsy, input_html: { rows: 20 } %>

    <div id="content">
      <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active">
          <a href="#editor-pane" data-toggle="tab">Write</a>
        </li>
        <li>
          <a href="#preview-pane" data-toggle="tab">Preview</a>
        </li>
      </ul>
      <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="editor-pane">
          <%= f.label 'Description' %>
          <%= render 'markdown_editor/toolbar' %>
          <%= f.text_area :description_markdown,
                          id: 'markdown_textarea',
                          class: 'form-control',
                          placeholder: 'Describe this challenge.',
                          required: true,
                          rows: 10 %>
        </div>
        <div class="tab-pane" id="preview-pane">
          <div id="markdown-preview"></div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>

</div>
