<div role="tabpanel" class="tab-pane active" id="overview">

  <h1>Overview</h1>
  <%= f.error_notification %>

    <%= f.input :challenge %>
    <%= f.input :tagline %>
    <%= f.association :organizer, collection: Organizer.all, value_method: :id, label_method: :organizer, priority: @challenge.organizer, include_blank: false %>
    <%= f.input :status, collection: enum_option_pairs(Challenge, :status) %>
    <%= f.input :description, as: :bootsy, input_html: { rows: 20 } %>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>

</div>
