<div role="tabpanel" class="tab-pane" id="prizes">
  <h1>Prizes</h1>
  <%= f.input :prizes, as: :bootsy, input_html: { rows: 10 } %>

  <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="active">
        <a href="#editor-pane" data-toggle="tab">Write</a>
      </li>
      <li>
        <a href="#preview-pane" data-toggle="tab">Preview</a>
      </li>
    </ul>
    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="editor-pane">
        <%= f.label 'Prizes' %>
        <%= render 'markdown_editor/toolbar' %>
        <%= f.text_area :prizes_markdown, id: 'markdown_textarea',
                        class: 'form-control',
                        placeholder: 'Describe the prizes for this challenge.',
                        required: true,
                        rows: 10 %>
      </div>
      <div class="tab-pane" id="preview-pane">
        <div id="markdown-preview"></div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
</div>
