<div class="row">
  <%= form_for @challenge_invitation, html: { class: "dbl-col" } do |f| %>
    <% @challenge_invitation.errors.full_messages.each do |error| %>
      <p><%= error %></p>
    <% end %>

    <fieldset class="checkbox">
      <div>
        <%= f.check_box :private_challenge, {}, "true", "false" %>
        <label for="">Private challenge</label>
      </div>
    </fieldset>

    <%= render partial: 'challenges/form/invitations_table',
            locals: { challenge: @challenge } %>

    <fieldset>
      <label>Invitee's email</label>
      <%= f.text_field :email %>
    </fieldset>

    <%= render partial: 'challenges/form/submit_buttons',
          locals: { f: f } %>
  <% end %>
</div>
