<%= simple_form_for([@challenge,@docker_configuration]) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="form-inputs">
        <%= f.input :name, hint:  'Name of container as presented to users' %>
        <%= f.input :container, hint: 'Container stored on Docker Hub' %>
        <%= f.input :mount_point %>
        <%= f.input :destroy_after_success %>
        <%= f.input :execute_command %>
      </div>

      <h3>Files injected into container</h3>
      <div class="events-configuration">
        <%= f.simple_fields_for :docker_files do |docker_file| %>
          <%= render 'docker_configurations/docker_file_fields', f: docker_file %>
        <% end %>
        <%= link_to_add_association 'Add File', f, :docker_files,
                                  html_options = { partial: 'docker_configurations/docker_file_fields',
                                                   class: 'btn btn-primary outline' } %>
      </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div></div>
