<%= simple_form_for([@challenge,@docker_configuration],
                html: { class: "directUpload" },
                data: { 'form-data' => (@s3_direct_post.fields),
                        'url' => @s3_direct_post.url,
                        'host' => URI.parse(@s3_direct_post.url).host }
                ) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="form-inputs">
        <%= f.input :challenge_id, as: :hidden %>
        <%= f.input :name, hint:  'Name of container as presented to users' %>
        <%= f.input :image, hint: 'Docker image stored on Docker Hub' %>
        <%= f.input :mount_point, hint: 'Full path, including trailing "/"' %>
        <%= f.input :datasets_directory, hint: 'Full path, including trailing "/"' %>
        <%= f.input :destroy_after_success %>
        <%= f.input :execute_command %>
      </div>

      <h3>Files injected into container</h3>
      <div class="events-configuration">
        <%= f.simple_fields_for :docker_files do |docker_file| %>
          <%= render 'docker_configurations/docker_file_fields', f: docker_file %>
        <% end %>
        <%= link_to_add_association 'Add File', f, :docker_files,
                                  html_options = { partial: 'docker_configurations/docker_file_fields',
                                                   class: 'btn btn-primary outline pull-right' } %>
      </div>

  <div class="form-actions">
    <%= f.button :submit, 'Update', class: 'btn btn-primary outline' %>
  </div>
<% end %>
</div></div>
