<%= render partial: 'challenges/sidebar' %>
<%= render partial: 'challenges/header', challenge: @challenge %>

<div class="page-content-container">
  <h3>Docker Configurations</h3>
    <table class='table table-responsive table-hover table-bordered sortable'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Instances</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @docker_configurations.each do |dc| %>
        <tr>
          <td><%= link_to dc.name, challenge_docker_configuration_path(@challenge,dc) %></td>
          <td><%= link_to dc.image, challenge_docker_configuration_path(@challenge,dc) %></td>
          <td><%= link_to dc.container_instances.count, challenge_docker_configuration_path(@challenge,dc) %></td>
          <td><%= link_to 'Delete', challenge_docker_configuration_path(@challenge,dc), method: :delete, confirm: 'Are you sure?', class: 'btn btn-primary outline btn-xs' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  <%= link_to 'New Docker configuration', new_challenge_docker_configuration_path(@challenge), class: 'btn btn-primary outline'  %>
</div>
