<li>
  <%= concept(Discussion::Cell::TopicLikesListDetail,topic) %>
  <div class="pic">
    <% if topic.participant.is_a? NullParticipant %>
      <%= link_to '#' do %>
        <%= concept(Image::Cell,author) %>
      <% end %>
    <% else %>
      <%= link_to participant_path(author) do %>
        <%= concept(Image::Cell,author) %>
      <% end %>
    <% end %>
  </div>
  <div class="details">
    <h5><%= link_to topic.topic, new_topic_comment_path(topic) %></h5>
    <p class="user">
      <% if topic.participant.is_a? NullParticipant %>
        Posted by <%= link_to author.name, '#' %>&nbsp;
      <% else %>
        Posted by <%= link_to author.name, participant_path(author) %>&nbsp;
      <% end %>
      <%= time_ago_in_words(topic.updated_at) %> ago
    </p>
  </div>
  <div class="stats">
    <div class="stat-fl">
      Comments<br>
      <span><%= comments.count - 1 %></span>
    </div>
    <div class="stat-fl">
      Last comment<br>
      <span>
        <% if last_comment %>
          <%= link_to last_comment_author.name, participant_path(last_comment_author) %>&nbsp;
          <%= time_ago_in_words(last_comment.created_at) %> ago
        <% end %>
      </span>
    </div>
  </div>
</li>
