<li>
  <%= concept(Discussion::Cell::TopicLikesListDetail,topic) %>
  <div class="pic">
    <% if topic.participant.is_a? NullParticipant %>
      <%= link_to '#' do %>
        <%= concept(Image::Cell,author) %>
      <% end %>
    <% else %>
      <%= link_to participant_path(author) do %>
        <%= concept(Image::Cell,author) %>
      <% end %>
    <% end %>
  </div>
  <div class="details">
    <h5><%= link_to topic.topic, new_topic_comment_path(topic) %></h5>
    <p class="user">
      <%= participant_link %>
      <%= time_ago_in_words(topic.created_at) %> ago
    </p>
  </div>
  <div class="stats">
    <div class="stat-fl">
      Comments<br>
      <span><%= comment_count %></span>
    </div>
    <div class="stat-fl">
      Last comment<br>
      <span>
          <%= time_ago_in_words(last_comment.created_at).gsub('about','') %> ago
      </span>
    </div>
  </div>
</li>
