<div class="discussion-comment" data-cell='Discussion::Cell::ParticipantComment'>
  <div class="topic-content">
    <%= link_to new_topic_comment_path(topic) do %>
      <p class="details">
        <%= challenge.challenge %> |&nbsp;
        <%= topic.topic %> |&nbsp; <%= time_ago_in_words(comment.created_at) %> ago
      </p>
      <div class='comment' id='comment_<%= comment.id %>'
        <p><%= comment.comment %></p>
      </div>
      <%= concept(Vote::Cell, comment, current_participant: current_participant) %>
    <% end %>
  </div>
</div>
