<content>
  <div class="masthead">
    <div class="row">
      <div class="info">
        <h2><%= title %></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <%= form_for organizer, validate: true, html: { class: "sgl-col", multipart: true  } do |f| %>
      <fieldset>
        <label>Host Hame</label>
        <%= f.text_field :organizer %>
        <label>Profile Picture</label>
        <div class="upload">
          <%= concept(Image::Cell,organizer,klass: 'img-thumb') %>
          <%= f.file_field :image_file, class: 'file-upload' %>
          <% if organizer.image_file.present? %>
            <%= link_to 'Delete', organizer_remove_image_path(organizer) %>
          <% end %>
          <span>Your image will be cropped if necessary. 5MB limit</span>
        </div>
        <label>Tagline<label>
        <%= f.text_field :tagline, placeholder: "140 characters max." %>
        <label>Description<label>
        <%= f.text_area :description %>
        <label>Address</label>
        <%= f.text_area :address %>
        <%= render partial: 'submit_buttons', locals: { f: f  } %>
      </fieldset>
    <% end %>
  </div>
  <div class="additional">
    <div class="row">
      <a data-remodal-target="modal">Delete host</a>
    </div>
  </div>
</content>
