<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1><%= @organizer.organizer %></h1>

    <span class="pull-right">
      <%= link_to '+ New Challenge', new_challenge_path, class: 'btn btn-primary outline' %>
      <%= link_to 'Edit Details', edit_organizer_path(@organizer), class: 'btn btn-primary outline' %>
    </span>

    <p>
      <strong>Address:</strong>
      <%= @organizer.address %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @organizer.description %>
    </p>

    <ul class="list-group">
      <% @challenges.each do |challenge| %>
      <%= render challenge %>
      <% end %>
    </ul>

    <hr/>
    <h1>Administrative users</h1>
    <div class='table-responsive'>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>name</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @organizer.participants.each do |participant| %>
          <tr>
            <td><%= participant.name %></td>
            <td><%= participant.email %></td>
            <td><%#= link_to 'Remove', [@organizer, user], method: :nullify, data: { confirm: 'Remove this user from the administration of your organizer on CrowdAI?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
