<div class='content'>
  <div class="masthead">
    <div class="row">
      <div class="info">
        <h2>Edit Profile</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <%= form_for @participant, validate: true, html: { class: "sgl-col" } do |f| %>
    <fieldset>
      <label>Name</label>
      <%= f.text_field :name %>
      <label>Profile Picture</label>
      <div class="upload">
        <%= concept(Image::Cell,
                        @participant,
                        klass: 'img-thumb',
                        current_participant: current_participant) %>
        <%= f.file_field :image_file, class: 'file-upload' %>
        <% if @participant.image_file.present? %>
        <%= link_to 'Delete', participant_remove_image_path(@participant) %>
        <% end %>
        <span>Your image will be cropped if necessary. 5MB limit</span>
      </div>
      <label>Location</label>
      <%= f.text_field :location %>
      <label>Bio</label>
      <%= f.text_area :bio %>
      <label>Github</label>
      <%= f.text_field :github, placeholder: "URL (e.g. www.github.com/crowdai)", class: 'url' %>
      <label>LinkedIn</label>
      <%= f.text_field :linkedin, placeholder: "URL (e.g. www.linkedin.com/in/crowdai)", class: 'url' %>
      <label>Twitter</label>
      <%= f.text_field :twitter, placeholder: "URL (e.g. www.twitter.com/crowdai)", class: 'url' %>
      <label>Website</label>
      <%= f.text_field :website, placeholder: "URL (e.g. www.crowdai.org)", class: 'url' %>
      <div class="button-group">
        <%= f.button "Save", class: 'btn btn-primary' %>
        <%= button_to participant_path(@participant), class: "btn btn-secondary" do %>
        Cancel
        <% end %>
      </div>
    </fieldset>
    <% end %>
  </div>
</div>
