<content>
  <%= concept(Participant::Cell::ParticipantMasthead,
                @participant,
                current_participant: current_participant) %>

  <div class="sub-nav">
    <div class="row">
      <ul class='tabs'>
        <li data-tab='tab-challenges' class="active"><a href="#" onclick="return false;">Challenges <sup><%= @challenges.count unless @challenges.count == 0 %></sup></a></li>
        <li data-tab='tab-articles'><a href="#" onclick="return false;">Tutorials <sup><%= @articles.count unless @articles.count == 0%></sup></a></li>
        <li data-tab='tab-posts'><a href="#" onclick="return false;">Posts <sup><%= @posts.count unless @posts.count == 0 %></sup></a></li>
        <li data-tab='tab-bio'><a href="#" onclick="return false;">Bio</a></li>
      </ul>
    </div>
  </div>

  <div id='tab-challenges' class='tab-content active'>
    <div class="row">
      <% if @challenges.any? %>
        <ul class="list-challenges">
          <%= concept(Challenge::Cell::ListDetail,
                        collection: @challenges,
                        current_participant: current_participant) %>
        </ul>
      <% else %>
        <div class='article'>
          <p class='light'>
            <%= "#{@participant.name} hasn't entered any challenges yet..." %>
          </p>
        </div>
      <% end %>
    </div>
  </div>

  <div id='tab-articles' class='tab-content'>
    <div class="row">
        <% if @articles.any? %>
          <ul class="list-tutorials">
            <%= concept(Article::Cell::ListDetail,
                          collection: @articles,
                          current_participant: current_participant) %>
          </ul>
        <% else %>
        <div class='article'>
          <p class='light'>
            <%= "#{@participant.name} hasn't authored any tutorials yet..." %>
          </p>
        </div>
        <% end %>
    </div>
  </div>

  <div id='tab-posts' class='tab-content'>
    <div class="row">
        <% if @posts.any? %>
          <ul class="list-tutorials">
            <%= concept(Discussion::Cell::ParticipantComment,
                          collection: @posts,
                          current_participant: current_participant) %>
          </ul>
        <% else %>
        <div class='article'>
          <p class='light'>
            <%= "#{@participant.name} hasn't made any posts yet..." %>
          </p>
        </div>
        <% end %>
    </div>
  </div>

  <div id='tab-bio' class='tab-content'>
    <div class="row">
      <div class="article">
        <% if @participant.bio.present? %>
          <%= @participant.bio %>
        <% else %>
          <p class='light'>
            <%= "Apparently #{@participant.name} prefers to keep an air of mystery about them..." %>
          </p>
        <% end %>
      </div>
    </div>
  </div>

</content>
