<%= render 'participants/show/header' %>
<div class="row">
  <div class="col-md-12">

    <div class="nav-center">
      <ul id="profile-nav-tabs" class="nav nav-tabs">
        <li role="presentation" class="active">
          <a href="#challenges" data-toggle="tab">
            <i class="glyphicon glyphicon-star"></i>
            Challenges
          </a>
        </li>
        <li role="presentation">
          <a href="#articles" data-toggle="tab">
            <i class="glyphicon glyphicon-star"></i>
            Articles
          </a>
        </li>
        <li role="presentation">
          <a href="#notebooks" data-toggle="tab">
            <i class="glyphicon glyphicon-file"></i>
            Notebooks
          </a>
        </li>
        <li role="presentation">
          <a href="#reputation" data-toggle="tab">
            <i class="glyphicon glyphicon-file"></i>
            Reputation
          </a>
        </li>
        <li role="presentation">
          <a href="#activity" data-toggle="tab">
            <i class="glyphicon glyphicon-file"></i>
            Activity
          </a>
        </li>

      </ul>
      <div id="profile-tab-content" class="tab-content">
        <%= render 'participants/show/challenges' %>
        <%= render 'participants/show/articles' %>
        <%= render 'participants/show/notebooks' %>
        <%= render 'participants/show/activity' %>
        <%= render 'participants/show/reputation' %>
      </div>
    </div>

  </div>
</div>
