<div class="panel panel-default">
  <div class="panel-body">

<p>
  <strong>Docker configuration:</strong>
  <%= @docker_container.docker_configuration %>
</p>

<p>
  <strong>Status cd:</strong>
  <%= @docker_container.status_cd %>
</p>

<p>
  <strong>Message:</strong>
  <%= @docker_container.message %>
</p>

<table class="table table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Log level</th>
      <th>Message</th>
    </tr>
  </thead>

  <tbody>
    <% @docker_container.container_logs.each do |log| %>
    <tr>
      <td><%= log.created_at %></td>
      <td><%= log.log_level %></td>
      <td><%= log.message %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div></div>


<%= link_to 'Back', '#' %>
