<div class="container-medium-grey">

<%= render 'users/edit/avatar' %>

<%= simple_form_for(@user) do |f| %>
<%= f.error_notification %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= f.input :username, disabled: true, label: false %>
    <%= f.input :first_name, required: true, placeholder: 'First name', label: false %>
    <%= f.input :last_name, required: true, placeholder: 'Last name', label: false %>

    <div id="content">
      <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active">
          <a href="#editor-pane" data-toggle="tab">Write</a>
        </li>
        <li>
          <a href="#preview-pane" data-toggle="tab">Preview</a>
        </li>
      </ul>
      <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="editor-pane">
          <%= f.label :bio %>
          <%= render 'markdown_editor/toolbar' %>
          <%= f.text_area :bio, id: 'markdown_textarea', class: 'form-control', placeholder: 'About me...', rows: 10 %>
        </div>
        <div class="tab-pane" id="preview-pane">
          <div id="markdown-preview"></div>
        </div>
      </div>
    </div>

    <% if current_user.admin? %>
      <%= f.association :hosting_institution, :include_blank => false, :label_method => lambda { |host| "#{host.institution}" } %>
    <% end %>
    <%= f.input :email, placeholder: 'Email', required: true, label: false %>
    <%= f.input :github, placeholder: 'Github', label: false %>
    <%= f.input :linkedin, placeholder: 'LinkedIn', label: false  %>
    <%= f.input :twitter, placeholder: 'Twitter', label: false  %>
    <%= f.input :website, placeholder: 'Website', label: false  %>
    <%= f.button :submit, "Save", class: "btn btn-primary btn-block" %>
</div>

<% end %>
</div>
<br/><br/>
