<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Profile</h2>

    <%= simple_form_for @user do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name, hint: 'Used in email correspondence and on your profile. Defaults to Username if left blank.' %>
      <%= f.input :last_name %>
      <%= f.input :username, required: true, autofocus: true, hint: 'May be changed.' %>
      <%= f.input :email, required: true, hint: 'May be changed.' %>
      <%= f.input :email_public, label: 'Display your email address publically?' %>
      <%= f.input :bio, as: :bootsy, input_html: { rows: 20 }, hint: 'Tell us something about yourself.' %>
      <%= f.input :website %>
      <%= f.input :github %>
      <%= f.input :linkedin %>
      <%= f.input :twitter %>

      <% if current_user.admin? %>
        <%= f.association :hosting_institution, :include_blank => false, :label_method => lambda { |host| "#{host.institution}" } %>
      <% else %>
        <%= f.hosting_institution %>
      <% end %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for:
        <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>

    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy?
      <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>

  </div>
</div>
