<div class="auth-form">
  <h2>Forgot your password?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <% resource.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>

  <div class="form-inputs">
    <%= f.input :username, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send me reset password instructions", class: "btn-success" %>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
