<div class="row">
    <div class="col-xs-12">
      <div class="calendar-table">
        <div class="calendar-row">
          <div class="calendar-left">
            <span class="mini-calendar">
              <strong><%= @challenge.start_month %></strong>
              <span><%= @challenge.start_day %></span>
            </span>
          </div>
          <div class="calendar-middle">
            <div class="ai-progress-container">
              <span class="ai-progress-text"><%= @challenge.remaining_text %></span>
              <div class="ai-progressbar"></div>
            </div>
          </div>
          <div class="calendar-right">
            <span class="mini-calendar">
              <strong><%= @challenge.end_month %></strong>
              <span><%= @challenge.end_day %></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <div class='pull-left calendar-date'>
        <%= @challenge.start_date %>
      </div>
      <div class='pull-right calendar-date'>
        <%= @challenge.end_date %>
      </div>
    </div>
  </div>
