<% if current_participant && current_participant.admin? %>
  <% if !params[:version]  %>
  <div class='pull-right'>
    <%= link_to pluralize(@challenge.versions.length, ' previous version'),
                {:version => prev_version(params,@challenge) } %>
  </div>
  <% end %>

  <% if params[:version] && params[:version] != 0 %>
    <div class='challenge-history'>
      <%= version_stats(params,@challenge) %>

      <div class='pull-right'>
        <% if (params[:version].to_i * -1) < @challenge.versions.count %>
          <%= link_to 'previous', { :version => prev_version(params,@challenge) } %>
        <% end %>

        [<%= @challenge.versions[params[:version].to_i].id %>]

        <% if params[:version].to_i < 0 %>
          <%= link_to 'next', { version: next_version(params)} %>
        <% end %>
      </div>
    </div>

  <% end %>
<% end %>
