<%= render partial: 'sidebar' %>

<div class="page-content-container">
  <div class="article-header">
    <div class="row">
      <div class="col-md-3">
        <%= render partial: 'votes/vote_link', locals: { votable: @tutorial } %>
        Created by
        <%= link_to @tutorial.participant.name, participant_path(@tutorial.participant) %>
      </div>
      <div class="col-md-1 col-md-offset-7">
        <%= link_to 'New Tutorial', new_tutorial_path, class: 'btn btn-primary outline' %>
      </div>
    </div>
  </div>

  <iframe src='<%= @tutorial.url %>' width="100%" height="1000" frameborder=0 id="rails_iframe">error!</iframe>
</div>
