<p id="notice"><%= notice %></p>

<p>
  <strong>Challenge:</strong>
  <%= @event.challenge %>
</p>

<p>
  <strong>Seq:</strong>
  <%= @event.seq %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event.event %>
</p>

<p>
  <strong>Event time:</strong>
  <%= @event.event_time %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
