<nav class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#crowdai-navbar-collapse" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"></a>
  </div>

  <div class="collapse navbar-collapse" id="crowdai-navbar-collapse">

    <!-- mobile menu with embedded sidebar -->
    <ul class="nav nav-stacked hidden-sm hidden-md hidden-lg">
      <div class='row hidden-sm hidden-md hidden-lg'>
        <div class='col-xs-6 mobile-menu'>
          <%= render 'layouts/navbars/navbar_menu' %>
          <% if participant_signed_in? %>
            <li><%= link_to 'Profile', participant_path(current_participant) %></li>
            <li><%= link_to 'Change Password', edit_participant_password_path %></li>
            <li><%= link_to 'Sign out', destroy_participant_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Log in", new_participant_session_path %></li>
            <li><%= link_to "Sign up", new_participant_registration_path %></li>
          <% end %>
        </div>
        <div class='col-xs-6 mobile-menu'>
          <% if content_for?(:sidebar) %>
            <%= yield(:sidebar) %>
          <% end %>
        </div>
      </div><!-- row -->
    </ul><!-- mobile navbar menu -->


    <!-- full screen menu -->
    <div class="navbar-right hidden-xs">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navbars/navbar_menu' %>
        <%= render 'layouts/navbars/login_menu' %>
      </ul>
    </div><!-- navbar-right -->
  </div><!-- collapse -->
</nav>
