<% submissions.each do |submission| %>
  <tr id="submission-<%= submission.id %>" class='submission-row'>
    <td></td>
    <td></td>
    <td class='change'></td>
    <td></td>

    <td class="participant">
      <div class="user-link">
        <p><%= link_to truncate(submission.participant.name, length: 10), participant_path(submission.participant_id) %></p>
      </div>
    </td>

    <% if cols.include?(:media) %>
      <td class="video">
        <a data-toggle="modal" data-target="" data-remote="true" href="#">
      </td>
    <% end %>

    <td class="score">
      <strong><%= submission.score_display %></strong>
    </td>

    <% if cols.include?(:score_secondary) %>
      <td class="score">
        <strong><%= submission.score_secondary_display %></strong>
      </td>
    <% end %>

    <td class="grading_status_cd">
      <i class="fa fa-square <%= submission.grading_status_cd %>" aria-hidden="true"></i>
      <strong class="<%= submission.grading_status_cd %>"><%= submission.grading_status_cd %></strong>
    </td>


    <td class="last-submission">
      <%= submission.created_at.strftime("%a, %e %b %Y %R") %>
    </td>

    <td class='action'>
      <% if challenge.submissions_page %>
        <%= link_to challenge_submission_path(
              submission.challenge_id, submission.id),
              class: 'btn btn-secondary' do %>
                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </td>

  </tr>
<% end %>
