<tbody>
  <% leaderboard.each_with_index do |entry,row| %>
  <tr id='participant-<%= entry.participant_id %>'>
    <td class="positon">
      <strong><%= "%02d." % (row + 1) %></strong>
    </td>

    <td class="participant">
      <div class="user-link">
        <%= link_to participant_path(entry.participant_id) do %>
          <%= concept(Image::Cell,participant(entry.participant_id)) %>
        <% end %>
        <p><%= link_to entry.name, participant_path(entry.participant_id) %>
           <% if participant(entry.participant_id).admin? %>
            <b>[Admin]</b>
           <% end %>
           <% if participant(entry.participant_id).organizer_id == entry.organizer_id %>
            <b>[Organizer]</b>
           <% end %>
        </p>
      </div>
    </td>

    <% if cols.include?(:media) %>
      <td class="video">
        <%= concept(Leaderboard::Cell::Media,entry, size: :thumb) %>
      </td>
    <% end %>

    <td class="score">
      <strong><%= entry.score %></strong>
    </td>

    <% if cols.include?(:score_secondary) %>
      <td class="score">
        <strong><%= entry.score_secondary %></strong>
      </td>
    <% end %>

    <% if policy(entry).submission_detail? %>
      <td class="entries">
        <%= link_to entry.entries,
            challenge_submission_detail_path(challenge_id: entry.challenge_id,
                                                          participant_id: entry.participant_id),
                                                          remote: true %>
      </td>
    <% else %>
      <td class="entries"><%= entry.entries %></td>
    <% end %>

    <%= if cols.include?(:post_challenge) %>
      <td class="post-challenge"></td>
    <% end %>

    <td class="last-submission"><%= entry.created_at.strftime("%a, %e %b %Y %R") %></td>
  </tr>
  <% end %>
</tbody>
