<%= simple_form_for([@challenge, @submission],
            html: { class: "directUpload" },
            data: { 'form-data' => (@s3_direct_post.fields),
                    'url' => @s3_direct_post.url,
                    'host' => URI.parse(@s3_direct_post.url).host }
            ) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= f.association :challenge, as: :hidden %>
  <%= f.hidden_field :participant_id, value: current_participant.id %>

  <%= f.simple_fields_for :submission_files do |file| %>
    <div class="nested-fields">
      <!-- TODO will make this config-driven in next release -->
      <% if file.index == 0 %>
        <b>Prediction file (.csv)</b>
        <%= file.hidden_field :seq %>
        <%= file.input :submission_file_s3_key, as: :file, label: false, input_html: { id: 'predictionsFile', class: 's3File predictionsFile', accept: 'text/csv'} %>
      <% else %>
        <b>Archive (.zip or .tar) of model and script. Maximum size of 650MB.</b>
        <%= file.hidden_field :seq %>
        <%= file.input :submission_file_s3_key,
                      as: :file,
                      label: false,
                      input_html: { id: 'modelFile', class: 's3File modelFile' } %>
      <% end %>
    </div>
  <% end %>

  <%= f.input :framework, :collection => Submission::FRAMEWORKS.sort.map {|k,v| [v,k]} %>

  <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="active">
        <a href="#editor-pane" data-toggle="tab">Write</a>
      </li>
      <li>
        <a href="#preview-pane" data-toggle="tab">Preview</a>
      </li>
    </ul>
    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="editor-pane">
        <%= f.label ' ' %>
        <%= render 'markdown_editor/toolbar' %>
        <%= f.text_area :description, id: 'markdown_textarea', class: 'form-control', placeholder: 'Please describe your submission.', rows: 10 %>
      </div>
      <div class="tab-pane" id="preview-pane">
        <div id="markdown-preview"></div>
      </div>
      <div class="has-error">
        <%= f.error :description %>
      </div>
    </div>
  </div>

</div>
<br/>
<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
