<%= simple_form_for([@challenge, @submission],
            html: { class: "directUpload" },
            data: { 'form-data' => (@s3_direct_post.fields),
                    'url' => @s3_direct_post.url,
                    'host' => URI.parse(@s3_direct_post.url).host }
            ) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= f.association :challenge, as: :hidden %>
  <%= f.hidden_field :participant_id, value: current_participant.id %>

  <div class='row'>
    <div class='col-md-4'>
      <%= f.input :docker_configuration_id, collection: @challenge.docker_configurations, label_method: :name, value_method: :id, include_blank: false %>
    </div>


    <% if @challenge.api_required %>
      <div class='col-md-4'>
        <%= f.input :api, :collection => Submission::APIS.sort.map {|k,v| [v,k]} %>
      </div>
    <% end %>
  </div>

  <%= f.simple_fields_for :submission_files do |file| %>
    <div class="nested-fields">
      <b><%= @challenge.submission_file_definitions[file.index].submission_file_description %></b>
      <p><%= @challenge.submission_file_definitions[file.index].submission_file_help_text %></p>
      <%= file.hidden_field :seq %><!-- populated by controller -->
      <%= file.input :submission_file_s3_key, as: :file, label: false, input_html: { class: 's3File', accept: @challenge.submission_file_definitions[file.index].file_accept } %>
    </div>
  <% end %>


  <div class="markdown-editor">
    <ul class="nav nav-tabs" data-tabs="tabs">
      <li class="active">
        <a href="#editor-pane-description" data-toggle="tab">Write</a>
      </li>
      <li>
        <a href="#preview-pane-description" class="preview-pane-link" data-toggle="tab">Preview</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="editor-pane-description">
        <%= render 'markdown_editor/toolbar' %>
        <%= f.text_area :description_markdown,
                        class: 'form-control markdown-textarea',
                        placeholder: 'Please describe your submission.',
                        required: true,
                        rows: 10 %>
      </div>
      <div class="tab-pane markdown-preview-pane" id="preview-pane-description">
        <div id="markdown-preview"></div>
      </div>
    </div>
  </div>
  <p>
    <%= @submission.errors[:description_markdown].first if @submission.errors[:description_markdown] %>
  </p>


</div>
<br/>
<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
