<%= simple_form_for([@competition, @submission]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :competition, as: :hidden %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :submission_type, value: 'user' %>


    <%= f.simple_fields_for :submission_files do |file| %>
      <div class="nested-fields">
        <!-- TODO will make this config-driven in next release -->
        <% if file.index == 0 %>
          <b>Prediction file (CSV)</b>
        <% else %>
          <b>Archive (.zip or .tar) of model and script</b>
        <% end %>
        <%= file.hidden_field :seq %>
        <%= file.input :submission_file, as: :file, label: false %>
      </div>
    <% end %>

    <%= f.label :description %>
    <%= render 'markdown/toolbar' %>
    <%= f.text_area :description,
                    id: 'markdown_textarea',
                    class: 'form-control',
                    placeholder: 'Please describe your submission.',
                    required: true,
                    rows: 10  %>
    <%#= f.input :description,
                placeholder: 'Please describe your submission.',
                label: false,
                required: true,
                input_html: { rows: 10 } %>


 </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
