<%= simple_form_for([@competition, @submission]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :competition, as: :hidden %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.input :evaluated %>
    <%= f.input :score %>
    <%= f.hidden_field :submission_type, value: 'user' %>
    <%= f.simple_fields_for :image, @user.image.presence || Image.new do |avatar_fields| %>
      <%= avatar_fields.error_notification %>
      <div>
        <img src="<%= avatar_medium_url(@user) %>"/>
      </div>

      <% if @user.image.present? %>
        <%= avatar_fields.check_box '_destroy' %> remove? or
        <%= avatar_fields.label :image, "replace image?" %>
      <% else %>
        <%= avatar_fields.label :image, "Add your own image?" %>
      <% end %>

      <%= avatar_fields.file_field :image %>
    <% end %>
    <%=  f.button :submit, "Update Avatar" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
