<%= simple_form_for([@competition, @submission]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :competition, as: :hidden %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.input :evaluated %>
    <%= f.input :score %>
    <%= f.hidden_field :submission_type, value: 'user' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
