<% @submissions.where(challenge_round_id: @challenge_round_id).each do |submission| %>
  <tr id='participant-<%= submission.participant_id %>'>
    <td><%= submission.id %></td>
    <td class="participant">
      <div class="user-link">
        <%= link_to participant_path(submission.participant) do %>
          <%= concept(Image::Cell,submission.participant, current_participant: current_participant) %>
        <% end %>
        <div class='text-badge'>
          <%= link_to submission.participant.name, participant_path(submission.participant.slug) %>
          <% if submission.participant.admin? %>
            <span class='badge badge-accent'>Admin</span>
          <% end %>
          <% if submission.participant.organizer_id == submission.challenge.organizer_id %>
            <span class='badge'>Organizer</span>
          <% end %>
        </div>
      </div>
    </td>
    <td><%= submission.grading_status_cd %></td>
    <td>
      <% if submission.grading_message.present? %>
        <%= submission.grading_message %>
      <% else %>
        <% if submission.grading_status_cd == 'graded' %>
          <% if @challenge.secondary_sort_order_cd == 'not_used' %>
            <%= "#{@challenge.score_title}: #{submission.score}" %>
          <% else %>
            <%= "#{@challenge.score_title}: #{submission.score}, #{@challenge.score_secondary_title}: #{submission.score_secondary}" %>
          <% end %>
        <% end %>
      <% end %>
    </td>
    <td class='pull-right'><%= submission.created_at %></td>
  </tr>
<% end %>
