<div class="content">
	<div class="masthead">
		<div class="row">
			<div class="info">
				<h6><%= @challenge.challenge %></h6>
				<h2>Update Submission</h2>
			</div>
		</div>
	</div>

  <div class="row">
    <br/>
    <label>Participant</label>
    <div><%= @submission.participant.name %></div>

    <br/>
    <% if @challenge.submissions_downloadable || current_participant.admin? %>
      <fieldset>
        <label>Submission Files</label>
        <% @submission.submission_files.each do |file| %>
            <%= link_to "Download file #{file.id}",
                  s3_expiring_url(file.submission_file_s3_key)
            %><br/>
        <% end %>
      </fieldset>
    <% end %>

    <%= form_for [@challenge, @submission],
          html: {
            class: "sgl-col",
            data: { controller: 'submission-baseline'}
          } do |f| %>
      <fieldset>
        <div class="twin-container">
          <div class="twin-field">
            <%= f.label :score %>
            <%= f.text_field :score %>
          </div>
          <div class="twin-field">
            <%= f.label :score_secondary %>
            <%= f.text_field :score_secondary %>
          </div>
        </div>
        <div class="twin-container">
          <div class="twin-field">
            <%= f.label :grading_status %>
            <%= f.select :grading_status, enum_option_pairs(Submission, :grading_status) %>
          </div>
          <div class="twin-field"></div>
        </div>
        <div class="twin-container">
          <div class="twin-field">
        </div>
      </fieldset>
      <% if @submission.graded? %>
        <fieldset class="checkbox">
          <div>
            <%= f.check_box :baseline,
                { data:
                  { target: 'submission-baseline.baseline',
                  action: 'click->submission-baseline#toggleBaseline' }
                }, "true", "false" %>
            <%= f.label :baseline, 'Baseline?' %>
          </div>
        </fieldset>
        <fieldset>
          <div data-target='submission-baseline.baselineComment'>
            <%= f.label :baseline_comment %>
            <%= f.text_field :baseline_comment %>
          </div>
        </fieldset>
      <% end %>

      <div class="button-group">
        <%= f.button "Update Submission", class: 'btn btn-primary' %> <%= link_to 'Cancel', challenge_submissions_path(@challenge), class: "btn" %>
        <div class="twin-field">
            <b><%= link_to 'Delete this submission', challenge_submission_path(@challenge, @submission),
              data: { confirm: 'Are you sure?' }, method: :delete, class: 'pull-right' %></b>
        </div>
      </div>
    <% end %>
  </div>
</div>
