<%= render partial: 'challenges/sidebar' %>
<%= render partial: 'challenges/header', challenge: @challenge %>

<div class="page-content-container">
  <div class="row">
    <div class="col-md-10">
      <% if @participant %>
        <%= render partial: 'submissions/index/participant_profile_header' %>
      <% else %>
        <%= render partial: 'submissions/index/challenges_submission_header'  %>
      <% end %>

      <div class='table-responsive'>
        <table class='table table-hover table-striped table-bordered leaderboard'>
          <thead>
            <tr>
              <th>Framework</th>
              <% if @challenge.secondary_sort_order == 'not_used' %>
                <th><%= @challenge.score_title %></th>
              <% else %>
                <th><%= @challenge.score_title %></th>
                <th><%= @challenge.score_secondary_title %></th>
              <% end %>
              <th>Submitted</th>
            </tr>
          </thead>

          <tbody>
            <% @submissions.each do |submission| %>
            <tr>
              <td><%= Submission::FRAMEWORKS[submission.framework] %></td>
              <% if @challenge.secondary_sort_order == 'not_used' %>
                <% if submission.failed? %>
                  <td><%= submission.grading_message %></td>
                <% else %>
                  <td><%= link_to submission.score, challenge_submission_path(@challenge, submission) %></td>
                <% end %>
              <% else %>
                <% if submission.failed? %>
                  <td colspan="2"><%= submission.grading_message %></td>
                <% else %>
                  <td><%= link_to submission.score, challenge_submission_path(@challenge, submission) %></td>
                  <td><%= link_to submission.score_secondary, challenge_submission_path(@challenge, submission) %></td>
                <% end %>
              <% end %>
              <td><%= link_to submission.created_at, challenge_submission_path(@challenge, submission) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div><!-- table-responsive -->
    </div>
  </div>
</div>
