<div class='content'>
  <%= concept(Challenge::Cell::ChallengeMasthead,
                @challenge,
                current_participant: current_participant) %>
  <%= render partial: 'challenges/show/subnav',
        locals: { challenge: @challenge } %>
  <%= concept(Submission::Cell::ChallengeRoundPills,
        @challenge,
        current_round: @current_round,
        current_participant: current_participant) %>

  <div class="row">
    <table class="submissions">
      <thead>
        <tr>
          <th class='id'>ID</th>
          <th>Participant</th>
          <th>Status</th>
          <th>Message</th>
          <th class="submission">Submission (UTC)</th>
          <th class="action"></th>
          <th class="action"></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'submissions' %>
      </tbody>
    </table>
    <span id='more-anchor'></span>
    <%= render partial: 'shared/load_more',
          locals: { collection: @submissions } %>
  </div>
</div>
