<%= render partial: 'challenges/sidebar' %>
<%= render partial: 'challenges/header', challenge: @challenge %>

<div class="row">
  <div class="col-md-10">
<div class="panel panel-default">
  <div class="panel-heading">Submissions</div>
  <div class="panel-body">
    <p style="text-align:center">
        <%= link_to 'Submit Entry', new_challenge_submission_path(@challenge), class: 'btn btn-primary btn-block outline' %>
    </p>
    <p><%= simple_format(@challenge.submission_instructions, class: 'bootsy-wrap') %></p>

    <table class='table table-hover table-striped table-bordered'>
      <thead>
        <tr>
          <th>Framework</th>
          <th>Submitted</th>
          <th>Score</th>
        </tr>
      </thead>


      <tbody>
        <% @submissions.each do |submission| %>
          <tr>
            <td><%= Submission::FRAMEWORKS[submission.framework] %></td>
            <td><%= link_to submission.created_at, challenge_submission_path(@challenge, submission) %></td>
            <td><%= link_to score(submission), challenge_submission_path(@challenge, submission) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div></div>
