<%= render partial: 'competitions/sidebar' %>
<%= render partial: 'competitions/header', competition: @competition %>


<div class="well">
  <h3><%= @submissions.first.user.username %></h3>
</div>


<table class='table table-hover table-striped table-bordered'>
  <thead>
    <tr>
      <th>Submitted</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.created_at %></td>
        <td><%= score(submission) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
