<%= render partial: 'challenges/sidebar' %>
<%= render partial: 'challenges/header', challenge: @challenge %>

<div class="row">
  <div class="col-md-10">

    <div class="panel panel-default">
      <div class="panel-body">

        <h3>Submission</h3>
        <lead><%= @submission.created_at %></lead>

        <h4>Score: <%= score(@submission) %></h4>

        <p><%= markdown(@submission.description) %></p>


        <div class="row">
          <div class="col-md-8">
            <table class="table table-condensed table-bordered">
              <thead>
                <tr>
                  <th>File</th>
                  <th>Filename</th>
                </tr>
              </thead>

              <tbody>
                <% @submission.submission_files.each do |file| %>
                <tr>
                  <td><% if file.seq == 0 %>
                    <b>Prediction file</b>
                  <% else %>
                    <b>Archive of model and script</b>
                    <% end %></td>
                  <td><%= link_to sub_file_info(file), file.submission_file.url %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
