<%= render partial: 'competitions/sidebar' %>
<%= render partial: 'competitions/header', competition: @competition %>

<h2>Submission</h2>

<p>
  <strong>User:</strong>
  <%= @submission.user.username %>
</p>

<p>
  <strong>Team:</strong>
  <%= @submission.team %>
</p>

<p>
  <strong>Evaluated:</strong>
  <%= @submission.evaluated %>
</p>

<p>
  <strong>Score:</strong>
  <%= @submission.score %>
</p>

<p>
  <strong>Ranking:</strong>
  <%= @submission.ranking %>
</p>

<p>
  <strong>Submission type cd:</strong>
  <%= @submission.submission_type_cd %>
</p>

<p>
  <strong>Withdrawn:</strong>
  <%= @submission.withdrawn %>
</p>

<p>
  <strong>Withdrawn date:</strong>
  <%= @submission.withdrawn_date %>
</p>

<%= link_to 'Edit', edit_competition_submission_path(@competition,@submission) %> |
<%= link_to 'Back', competition_submissions_path(@competition) %>
