<div class="detail">
  <div class="detail-header-bg"></div>
  <%= link_to challenge_submissions_path(@submission.challenge_id) do %>
    <i class="fa fa-times" aria-hidden="true"></i>
  <% end %>

  <div class="row">
    <%= render partial: 'submissions/show/header',
          locals: {
            challenge: @presenter.challenge,
            participant: @presenter.participant,
            entry: @submission,
            submission_id: @submission.id } %>

    <%= render partial: 'submissions/show/share',
          locals: { submission: @submission }%>

    <%= render partial: 'submissions/show/description',
          locals: { submission: @submission }  %>

    <% if @presenter.grading_history? %>
      <%= render partial: 'submissions/show/grading_history',
            locals: { submission: @submission } %>
    <% end %>

    <% if @presenter.grader_logs.present? %>
      <%= render partial: 'submissions/show/codemirror' %>
    <% end %>

    <%= render partial: 'submissions/show/comments',
          locals: { submission: @submission } %>
  </div>
    <%= render partial: 'submissions/show/meta', locals: { submission: @submission } %>
</div>
