<div class="detail">
  <div class="detail-header-bg"></div>
  <%= link_to challenge_submissions_path(@submission.challenge_id) do %>
    <i class="fa fa-times" aria-hidden="true"></i>
  <% end %>

  <div class="row">
    <%= render partial: 'leaderboards/show/header',
          locals: { participant: @participant, entry: @submission } %>

    <%= render partial: 'leaderboards/show/share',
          locals: { submission: @submission }%>

    <%= render partial: 'leaderboards/show/entry_description',
          locals: { entry: @submission, submission: @submission }  %>

    <%= render partial: 'leaderboards/show/comments',
          locals: { submission: @submission } %>
  </div>
</div>








<div class="detail">
  <div class="detail-header-bg"></div>
  <%= link_to challenge_submissions_path(@submission.challenge_id) do %>
    <i class="fa fa-times" aria-hidden="true"></i>
  <% end %>
  <div class="row">
    <!--Detail header start-->
    <div class="detail-header">
      <div class="text-badge">
        <%= link_to @participant.name, participant_path(@participant.id), class: "color-accent" %>
        <% if @participant.admin? %>
          <span class="badge badge-accent">Admin</span>
        <% end %>
      </div>
      <h4>Submission: <%= @entry.challenge.challenge %></h4>
    </div>
    <!--Detail header end-->

    <!--Detail media start-->
    <div class="detail-media">
      <%= concept(Leaderboard::Cell::Media, @entry, size: :large, current_participant: current_participant) %>
    </div>
    <!--Detail media end-->

    <%= render partial: 'leaderboards/show/share',
          locals: { submission: @submission }%>

    <%= render partial: 'leaderboards/show/entry_description',
          locals: { entry: @entry, submission: @submission }  %>

    <%= render partial: 'leaderboards/show/comments',
          locals: { submission: @submission } %>

  </div>
</div>
