<div class="detail">
  <div class="detail-header-bg"></div>
  <%= link_to challenge_submissions_path(@submission.challenge_id) do %>
    <i class="fa fa-times" aria-hidden="true"></i>
  <% end %>

  <div class="row">
    <%= render partial: 'leaderboards/show/header',
          locals: {
            challenge: @challenge,
            participant: @participant,
            entry: @submission,
            submission_id: @submission.id } %>

    <%= render partial: 'leaderboards/show/share',
          locals: { submission: @submission }%>

    <%= render partial: 'leaderboards/show/entry_description',
          locals: { entry: @submission, submission: @submission }  %>

    <% if @grader_logs.present? %>
      <%= render partial: 'submissions/show/codemirror' %>
    <% end %>

    <%= render partial: 'leaderboards/show/comments',
          locals: { submission: @submission } %>
  </div>
    <%= render partial: 'leaderboards/show/meta', locals: { submission: @submission } %>
</div>
