<%= simple_form_for([@challenge,@dataset_file],
                  html: { class: "directUpload" },
                  data: { 'form-data' => (@s3_direct_post.fields),
                        'url' => @s3_direct_post.url,
                        'host' => URI.parse(@s3_direct_post.url).host }
                  ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :seq %>
    <%= f.input :description %>
    <%= f.input :dataset_file_s3_key, as: :file, id: 'file_upload' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
