<%= render partial: 'challenges/sidebar' %>
<%= render partial: 'challenges/header', challenge: @challenge %>

<div class="row">
  <div class="col-md-8">
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Content</th>
          <th>Filename</th>
        </tr>
      </thead>

      <tbody>
        <% @challenge.dataset_files.each do |file| %>
        <tr>
          <td><%= file.seq %></td>
          <td><%= file.description %></td>
          <td><%= download_url(file) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <% if current_user.admin? || current_user.organizer_id = @challenge.organizer_id %>
      <%= link_to 'Add file', new_challenge_dataset_file_path(@challenge), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
