<%= render partial: 'competitions/sidebar' %>
<%= render partial: 'competitions/header', competition: @competition %>

<div class="row">
  <div class="col-md-8">
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Content</th>
          <th>Filename</th>
        </tr>
      </thead>

      <tbody>
        <% @competition.dataset_files.each do |file| %>
        <tr>
          <td><%= file.seq %></td>
          <td><%= file.description %></td>
          <td><%= link_to file_info(file), file.dataset_file.url %>
            <% if current_user.admin? %>
            <%= link_to content_tag(:i, nil, class: 'fa fa-trash-o'),
                        [@competition,file],
                        method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Add file', new_competition_dataset_file_path(@competition) %>
  </div>
</div>
