<%= render partial: 'challenges/sidebar' %>
<%= render partial: 'challenges/header', challenge: @challenge %>

<div class="row">
  <div class="col-md-8">
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Description</th>
          <th>File Size</th>
        </tr>
      </thead>

      <tbody>
        <% @challenge.dataset_files.each do |file| %>
        <tr>
          <td><%= file.seq %></td>
          <td><%= link_to file.description, s3_expiring_url(file.dataset_file_s3_key) %></td>
          <td><%= s3_filesize(file.dataset_file_s3_key) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <% if current_participant.admin? || current_participant.organizer_id = @challenge.organizer_id %>
      <%= link_to 'Add file', new_challenge_dataset_file_path(@challenge), class: 'btn btn-primary outline' %>
    <% end %>
  </div>
</div>
