<%= render partial: 'challenges/sidebar' %>
<%= render partial: 'challenges/header', challenge: @challenge %>

<div class="page-content-container">
  <div class="row">
    <div class="col-xs-11">
      <div class='markdown-wrap'>
        <%= @challenge.license.html_safe if @challenge.license %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11">
      <div class="table-responsive">
        <table class="table table-condensed table-bordered leaderboard">
          <thead>
            <tr>
              <th></th>
              <th>Description</th>
              <th>File Size</th>
              <% if current_participant.admin? %>
                <th>Evaluation?</th>
                <th></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @dataset_files.each do |file| %>
              <tr>
              <td><%= file.seq %></td>
              <td><%= link_to file.description,
                              s3_expiring_url(file.dataset_file_s3_key),
                              class: 'expiring-url',
                              data: { 'dataset-file-id': file.id } %></td>
              <td><%= s3_filesize(file.dataset_file_s3_key) %></td>
              <% if current_participant.admin? %>
                <td>
                  <%= file.evaluation %>
                </td>
                <td>
                  <%= link_to 'delete', challenge_dataset_file_path(@challenge,file), method: :delete, data: { confirm: 'Sure?'} %>
                </td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <br>

      <% if current_participant.admin? || current_participant.organizer_id == @challenge.organizer_id %>
        <%= link_to 'Add file', new_challenge_dataset_file_path(@challenge), class: 'btn btn-primary outline' %>
      <% end %>
    </div>
  </div>
</div>
