<content>
  <div class="masthead">
    <div class="row">
      <h2>Add File</h2>
    </div>
  </div>
  <div class="row">
    <%= form_for [@challenge,@dataset_file],
                    html: { class: "sgl-col directUpload", 'data-form-data' => @s3_direct_post.fields.to_json.html_safe, 'data-url' => @s3_direct_post.url, 'data-host' => URI.parse(@s3_direct_post.url).host } do |f| %>
      <fieldset>
        <label>File Title</label>
        <%= f.text_field :title %>
        <label>File Description</label>
        <%= f.text_field :description %>
        <fieldset class="checkbox">
            <div>
              <%= f.check_box :evaluation, {}, "true", "false" %>
              <label for="file-evalution">Evaluation</label>
            </div>
        </fieldset>
        <label>Dataset file</label>
        <%= f.file_field :dataset_file_s3_key, class: 'file-upload s3File' %>

        <div class="button-group">
          <%= f.button "Add file", class: 'btn btn-primary', id: 'submitS3' %>
          <%= button_to challenges_path, class: "btn btn-secondary" do %>
            Cancel
          <% end %>
        </div>
      </fieldset>
    <% end %>
  </div>
</content>
