<p id="notice"><%= notice %></p>

<p>
  <strong>Dataset:</strong>
  <%= @dataset_file.dataset %>
</p>

<p>
  <strong>Seq:</strong>
  <%= @dataset_file.seq %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @dataset_file.filename %>
</p>

<p>
  <strong>Filetype:</strong>
  <%= @dataset_file.filetype %>
</p>

<%= link_to 'Edit', edit_challenge_dataset_file_path([@challenge,@dataset_file]) %> |
<%= link_to 'Back', back %>
