<div role="tabpanel" class="tab-pane" id="datasets">

  <h1>Datasets</h1>
  <%= f.simple_fields_for :dataset do |dataset| %>
    <%= dataset.input :description, as: :bootsy, input_html: { rows: 5 } %>
    <%= simple_fields_for :dataset_files do |file| %>
      <%= render 'competitions/form/dataset_file_fields', f: file %>
    <% end %>
    <%= link_to_add_association 'Add File', dataset, :dataset_files, html_options = { partial: 'competitions/form/dataset_file_fields'}, class: 'btn btn-default' %>
  <% end %>




  <div class="form-actions">
    <%= f.button :submit %>
  </div>
</div>
