<% if current_participant.organizer_id.present? %>
  <li><%= link_to current_participant.organizer.organizer,
                  organizer_path(current_participant.organizer),
                  class: 'navbar-underline' %></li>
<% end %>


<li><%= link_to "Knowledge Base", 'http://crowdai.github.io/Knowledge-Base/', class: 'navbar-underline' %></li>
<li><%= link_to "Challenges", challenges_path, class: 'navbar-underline' %></li>
<!--
<li><%= link_to "Datasets", '#' %></li>
<li><%= link_to "Scripts", '#' %></li>
<li><%= link_to "Community", '#', class: 'navbar-underline' %></li>  -->

<% if current_participant.admin? %>
  <li><%= link_to 'Admin', admin_root_path, class: 'navbar-underline' %></li>
<% end %>
