<nav class="navbar navbar-default navbar-inverse navbar-static-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <div class="pull-right">
    <ul class="nav navbar-nav">

      <%= render 'layouts/navbars/navbar_menu' %>

      <% if current_user.admin? %>
      <li><%= link_to 'Admin', admin_root_path %></li>
      <% end %>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">
          <%= image_tag avatar_url(current_user,'medium'), size: '30x30', class: "img-circle navbar-profile-img" %><%= current_user.username %><b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= awesome_link('fa fa-cog', 'Profile', user_path(current_user)) %></li>
          <li><%= awesome_link('fa fa-sign-out', 'Sign out', destroy_user_session_path, :method => :delete) %></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
