<nav class="navbar navbar-default navbar-static-top">
  <div class="brand-container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"></a>
    </div>
  </div>

  <div class="pull-right">
    <ul class="nav navbar-nav">

      <%= render 'layouts/navbars/navbar_menu' %>

      <% if current_participant.admin? %>
      <li><%= link_to 'Admin', admin_root_path %></li>
      <% end %>

      <li class="dropdown">
        <a href="#" id="avatar-menu" class="dropdown-toggle profile-image" data-toggle="dropdown">
          <%= image_tag avatar_url(current_participant,'medium'), size: '30x30', class: "img-circle navbar-profile-img" %><%= current_participant.name %><b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= awesome_link('fa fa-cog', 'Profile', participant_path(current_participant)) %></li>
          <li><%= awesome_link('fa fa-cog', 'Password', edit_participant_registration_path) %></li>
          <li><%= awesome_link('fa fa-sign-out', 'Sign out', destroy_participant_session_path, :method => :delete) %></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
