<nav class="navbar navbar-default navbar-inverse navbar-static-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <div class="pull-right">
    <ul class="nav navbar-nav">

      <%= render 'layouts/navbars/navbar_menu' %>

      <% if current_user.admin? %>
        <li><%= link_to 'Admin', admin_root_path %></li>
      <% end %>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.username %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to('Profile', user_path(current_user)) %></li>
          <li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>
