<li data-cell='ParticipantClefTask::Cell::ListDetail'>
  <div class="pic">
    <% if participant.is_a? NullParticipant %>
      <%= link_to '#' do %>
        <%= concept(Image::Cell,participant) %>
      <% end %>
    <% else %>
      <%= link_to participant_path(participant) do %>
        <%= concept(Image::Cell,participant) %>
      <% end %>
    <% end %>
  </div>
  <div class="details">
    <h5>
      <%= link_to participant.name, participant_path(participant) %>
    </h5>
    <%= clef_status %>
    <%= link_to participant_clef_task.eua_file.url,
          target: :_blank do %>
      <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i>
    <% end %>

  </div>
    <div class="stats">
      <div class="stat-fr">
        Email<br>
        <span><%= participant.email %></span>
      </div>
    </div>
</li>
