<%= render partial: 'challenges/sidebar' %>
<%= render partial: 'challenges/header', challenge: @challenge %>

<div class="page-content-container">

  <div class="panel panel-default">
    <div class='panel-heading'>
      <h3>Docker Configuration: <%= link_to @docker_configuration.name, challenge_docker_configurations_path(@challenge) %></h3>
      <h3>Image: <%= @docker_configuration.image %></h3>
    </div>
    <div class="panel-body">




      <div class="row">
        <div class="col-md-12">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Status</th>
                <th>Image</th>
                <th>Container</th>
                <th>Logs</th>
                <th>Created</th>
                <th>Updated</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @container_instances.each do |instance| %>
              <tr>
                <td><%= instance.status %></td>
                <td><%= instance.image_sha %></td>
                <td><%= instance.container_sha %></td>
                <td><%= link_to "#{instance.container_logs.count} logs", container_instance_container_logs_path(instance) %></td>
                <td><%= instance.created_at.strftime("%a, %e %b %Y %R") %>
                <td><%= instance.updated_at.strftime("%a, %e %b %Y %R") %>
                <td><%= link_to 'delete', [@docker_configuration,instance], method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <% @container_instances.each do |instance| %>

      <% end %>
    </div>
  </div>
</div>
