<!--Detail add comment start-->
<% if current_participant %>
  <%= render partial: 'submission_comments/form',
      locals: { submission: submission } %>
<% end %>

<% submission.submission_comments.each do |submission_comment| %>
  <% if submission_comment.persisted? %>
    <div class="discussion-comment">
      <div class="pic">
        <%= link_to participant_path(submission_comment.participant) do %>
          <%= concept(Image::Cell,submission_comment.participant) %>
        <% end %>
      </div>
      <div class="topic-content">
        <p class="details">Posted by <%= link_to submission_comment.participant.name, participant_path(submission_comment.participant.id) %> <%= time_ago_in_words(entry.created_at) %> ago
        <div class="comment">
          <p><%= sanitize(submission_comment.comment) %></p>
        </div>
      </div>
      <%= concept(Vote::Cell,
              submission_comment,
              current_participant: current_participant) %>
    </div>
  <% end %>
<% end %>
<!--Detail user comment end-->
