<!--Detail user comment start-->
<% if @entry.description.present? %>
  <div class="discussion-comment">
    <div class="pic">
      <%= link_to participant_path(@submission.participant) do %>
        <%= concept(Image::Cell,@submission.participant) %>
      <% end %>
    </div>
    <div class="topic-content">
      <p class="details">
        Posted by <%= link_to @submission.participant.name, participant_path(@submission.participant.id) %> <%= time_ago_in_words(@entry.created_at) %>
      </p>
      <div class="comment">
        <p><%= sanitize(@entry.description) %></p>
      </div>
    </div>
  </div>
<% end %>
<!--Detail user comment end-->
