  <li class="list-group-item post">
    <div class='markdown-wrap'>
      <%= sanitize(post.post) if post.post %>
    </div>
    <%= link_to "Quote", new_topic_post_path(@topic, :quote => post), class: 'btn btn-primary', data: { turbolinks: false } %>
    <% if current_participant.admin? || current_participant == post.participant %>
      <%= link_to 'Edit', edit_topic_post_path(@topic, post), class: 'btn btn-primary', data: { turbolinks: false } %>
      <%= link_to 'Delete', [@topic, post], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
    <% end %>
    <div class="pull-right">
      Posted by <%= link_to post.participant.name, participant_path(post.participant) %>,
                <%= time_ago_in_words(post.created_at) %> ago.
      <%= render partial: 'votes/vote_link', locals: { votable: post } %>
    </div>
  </li>
  <hr/>
