<!--Detail header start-->
<div class="detail-header">
  <div class="text-badge">
    <%= link_to participant.name,
          participant_path(participant.id),
          class: "color-accent" %>
    <% if participant.admin? %>
      <span class="badge badge-accent">Admin</span>
    <% end %>
  </div>
  <%= link_to challenge_path(challenge) do %>
    <h4>Submission: <%= challenge.challenge %></h4>
  <% end %>
  <br/>
  <% if @submission.grading_status_cd == 'graded' %>
    <h5><%= "#{@challenge.score_title}: #{@submission.score}" %></h5>
    <% unless @challenge.secondary_sort_order_cd == 'not_used' %>
      <h5><%= "#{@challenge.score_secondary_title}: #{@submission.score_secondary}" %></h5>
    <% end %>
  <% end %>  

  <div class='flex-row'>
    <div class='grading_status_cd'>
      <i class="fa fa-square <%= @submission.grading_status_cd %>" aria-hidden="true"></i>
      <strong class="<%= @submission.grading_status_cd %>">
        <%= @submission.grading_status_cd %>
      </strong>
    </div>
    <% if policy(@submission).update? %>
      <%= link_to edit_challenge_submission_path(@challenge,@submission) do %>
      <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>

</div>
<!--Detail header end-->

<!--Detail media start-->
<% if challenge.media_on_leaderboard %>
  <div class="detail-media">
    <%= concept(Leaderboard::Cell::Media,
          @submission,
          size: :large,
          submission_id: submission_id,
          current_participant: current_participant) %>
  </div>
<% end %>
<!--Detail media end-->
