<!--Detail share start -->
<div class="detail-share">
  <div>
    <span>Share</span>
    <input
      id="shortUrl"
      type="text"
      style="display:none; position: relative; left: -10000px;"
      value='<%= "#{request.base_url}/#{submission.short_url}" %>' >
    <button
      onclick="copyLink()"
      class='btn btn-secondary'>Copy URL</button>
  </div>
  <div>
    <span
      data-title="Check out this link on crowdAI "
      data-desc="<%= submission.challenge.challenge %>"
      data-url='<%= "#{request.base_url}/#{submission.short_url}?utm_source=crowdAI&utm_medium=Facebook" %>'>
    <a
      class="btn btn-secondary btn-facebook"
      rel="nofollow"
      data-site="facebook"
      onclick="return SocialShareButton.share(this)"
      title="Share to Facebook"
      href="#">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </a>
  </span>
  <span
    data-title="Check out this link on crowdAI "
    data-desc="<%= submission.challenge.challenge %>"
    data-url='<%= "#{request.base_url}/#{submission.short_url}?utm_source=crowdAI&utm_medium=Twitter" %>'>
    <a
      data-url='<%= "#{request.base_url}/#{submission.short_url}?utm_source=crowdAI&utm_medium=Twitter" %>'
      class="btn btn-secondary btn-twitter"
      rel="nofollow"
      data-site="twitter"
      onclick="return SocialShareButton.share(this)"
      title="Share to Twitter"
      href="#">
        <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </span>
  </div>
</div>
<!--Detail add comment end-->
