<div class="remodal remodal-lrg" data-remodal-id="modal">
  <%= form_for @organizer_application,  html: { class: 'modal' }, remote: true do |f| %>
    <h3>Interested in hosting a challenge?</h3>
    <p>Fill out the form below and someone from our team will get in touch with you.</p>

    <%= f.text_field :contact_name, placeholder: "Contact name", required: true %>
    <%= f.text_field :email, placeholder: "Email address", required: true %>
    <%= f.text_field :phone, placeholder: "Phone number", required: true %>
    <%= f.text_field :organization, placeholder: "Organization name", required: true %>
    <%= f.text_area :organization_description, placeholder: "Brief description of organization", required: true %>
    <%= f.text_area :challenge_description, placeholder: "Brief description of challenge", required: true %>

    <div class="button-group-fluid">
      <%= f.button :submit, class: "btn btn-primary" %>
      <button class="btn btn-secondary" data-remodal-action="cancel">Cancel</button>
    </div>
  <% end %>
</div>
