<div class="content">
  <div class="row">
    <h1>Solve real-world problems <br>using open data</h1>
    <p class="large">crowdAI connects data science experts and enthusiasts with open data to solve specific problems, through challenges.</p>
  </div>
  <div class="row button-group">
    <% if current_participant %>
      <%= link_to "Host a Challenge", landing_page_host_path, class: 'btn btn-primary btn-large' %>
    <% else %>
      <%= link_to "Sign up", new_participant_registration_path, class: "btn btn-primary btn-large" %>
      <%= link_to "Host a Challenge", landing_page_host_path, class: 'btn btn-secondary btn-large' %>
    <% end %>
  </div>

  <div class="row">
    <div class="section-header">
      <h6>Some of our users</h6>
      <a class="btn btn-secondary" href="#">See all</a>
    </div>

    <div class="grid-users">
      <img class="users-group-1" src="assets/img/used-by/epfl.svg" alt="">
      <img class="users-group-1" src="assets/img/used-by/stanford.png" alt="">
      <img class="users-group-1" src="assets/img/used-by/berkeley.png" alt="">
      <img class="users-group-1" src="assets/img/used-by/hi.png" alt="">
      <img class="users-group-2" src="assets/img/used-by/epfl.svg" alt="">
      <img class="users-group-3" src="assets/img/used-by/stanford.png" alt="">
      <img class="users-group-4" src="assets/img/used-by/berkeley.png" alt="">
      <img class="users-group-5" src="assets/img/used-by/hi.png" alt="">
    </div>
  </div>

  <div class="row">
    <div class="section-header">
      <h3>Featured Challenges</h3>
      <%= link_to 'See all', challenges_path, class: "btn btn-secondary" %>
    </div>

    <ul class="list-challenges">
      <%= concept(Challenge::Cell::ListDetail, collection: @challenges, current_participant: current_participant) %>
    </ul>
  </div>
</content>
