<div class="masthead-detailed">
  <div class="row">
    <div class="pic pic-challenge">
      <%= concept('media/cell',challenge,size: :medium) %>
    </div>
    <div class="info info-challenge">
      <h2><%= challenge.challenge %></h2>
      <p class="large"><%= challenge.tagline %></p>
      <div class="user-link">
        <%= link_to organizer_path(organizer) do %>
          <%= concept('media/cell',organizer,size: :medium) %>
        <% end %>
        <p>By <%= link_to organizer.organizer, organizer_path(organizer) %></p>
      </div>
      <progress max="100" value="<%= progress %>"></progress>
      <div class="stats">
        <div class="stat-fl">
          <%= remaining_time_in_days %><br>
          <span>Days left</span>
        </div>
        <div class="stat-fr">
          <%= challenge.submission_count %><br>
          <span>Submissions</span>
        </div>
        <div class="stat-fr">
          <%= challenge.participant_count %><br>
          <span>Particpants</span>
        </div>
        <div class="stat-fr">
          <%= challenge.page_views %><br>
          <span>Views</span>
        </div>
      </div>
      <div class="button-group">
        <%= link_to 'Submit Entry', challenge_submissions_path(challenge), class: "btn btn-secondary" %>
        <%= concept('vote/cell', challenge) %>
      </div>
    </div>
  </div>
</div>
