<div class="sub-nav">
  <div class="row">
    <ul>
      <li <%= tab_class('overview') %> ><%= link_to 'Overview', challenge_path(challenge) %></li>
      <li <%= tab_class('leaderboard') %> ><%= link_to 'Leaderboard', challenge_leaderboards_path(challenge) %></li>
      <li <%= tab_class('discussion') %> ><%= link_to 'Discussion', challenge_topics_path(challenge) %></li>
      <li <%= tab_class('dataset') %> ><%= link_to 'Dataset', challenge_dataset_files_path(challenge) %></li>
    </ul>
    <%= link_to 'Submit Entry', challenge_submissions_path(challenge), class: "btn btn-secondary" %>
  </div>
</div>
