<li data-cell='Challenge::Cell::ListDetail'>
  <div class="pic">
    <%= link_to challenge_path(challenge) do %>
      <%= concept(Image::Cell,challenge, current_participant: current_participant) %>
    <% end %>
  </div>
  <div class="details">
    <h5 class="ellipsis"><%= link_to challenge.challenge, challenge_path(challenge) %></h5>
    <p class="description ellipsis"><%= challenge.tagline %></p>
    <%= status_badge %>
  </div>
  <div class="stats">
    <%= concept(Challenge::Cell::Statistic,challenge,type: 'submission', current_participant: current_participant) %>
    <%= concept(Challenge::Cell::Statistic,challenge,type: 'participant', current_participant: current_participant) %>
    <%= concept(Challenge::Cell::Statistic,challenge,type: 'view', current_participant: current_participant) %>
  </div>
</li>
