<div class="nips-user-link">
  <div class='nips-spacer'>
    <%= link_to organizer_path(organizer) do %>
      <%= concept(Image::Cell,organizer,size: :medium) %>
    <% end %>
    <p><%= link_to organizer_path(organizer) do %>
      Stanford Neuromuscular <br/>Biomechanics Laboratory
    <% end %></p>
  </div>
  <div class='nips-spacer'>
    <%= link_to '/' do %>
      <%= image_tag('misc/crowdai-head.svg') %>
    <% end %>
    <p><%= link_to 'crowdAI', '/' %></p>
  </div>
  <div>
    <%= link_to 'https://www.digitalepidemiologylab.org/' do %>
      <%= image_tag('misc/EPFL-Logo-RVB-96.jpg', class: 'rectangle') %>
    <% end %>
    <p><%= link_to 'EPFL Digital Epidemiology Lab', 'https://www.digitalepidemiologylab.org/' %></p>
  </div>
</div>
