<div class="nips-user-link">
  <div class='nips-spacer'>
    <%= link_to organizer_path(organizer) do %>
      <%= concept(Image::Cell,organizer,size: :medium) %>
    <% end %>
    <p><%= link_to organizer.organizer, organizer_path(organizer) %></p>
  </div>
  <div class='nips-spacer'>
    <%= link_to '/' do %>
      <%= image_tag('misc/crowdai-head.svg') %>
    <% end %>
    <p><%= link_to 'crowdAI', '/' %></p>
  </div>
  <div class='nips-spacer'>
    <%= link_to 'https://research.google.com/teams/brain/' do %>
      <%= image_tag('misc/google_brain.png') %>
    <% end %>
    <p><%= link_to 'Google Brain', 'https://research.google.com/teams/brain/' %></p>
  </div>
  <div>
    <%= link_to 'https://www.digitalepidemiologylab.org/' do %>
      <%= image_tag('misc/EPFL-Logo-RVB-96.jpg', class: 'rectangle') %>
    <% end %>
    <p><%= link_to 'EPFL Digital Epidemiology Lab', 'https://www.digitalepidemiologylab.org/' %></p>
  </div>
</div>
