<div class="nips-user-link">
  <div class='nips-spacer'>
    <%= link_to organizer_path(organizer), data: { toggle: 'tooltip'},
    title: "Stanford Neuromuscular
Biomechanics Laboratory" do %>
      <%= concept(Image::Cell,organizer,size: :medium) %>
    <% end %>
  </div>
  <div class='nips-spacer'>
    <%= link_to '/', data: { toggle: 'tooltip'},
    title: 'crowdAI' do %>
      <%= image_tag('misc/crowdai-head.svg') %>
    <% end %>
  </div>
  <div>
    <%= link_to 'https://www.digitalepidemiologylab.org/', data: { toggle: 'tooltip'},
    title: 'EPFL Digital Epidemiology Lab' do %>
      <%= image_tag('misc/EPFL-Logo-RVB-96.jpg', class: 'rectangle') %>
    <% end %>
  </div>
</div>
