<div class="container-medium-grey">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="centered-text">
            <h2>Log In</h2>
          </div>
          <br/>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true, label: 'Email address' %>
            <%= f.input :password, required: true %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "btn btn-primary btn-block outline" %>
          </div>
          <% end %>

          <br/>
          <div class="account-help centered-text">
            <div class='show-help-link'>Can't sign in?</div>
            <div class="account-help-links centered-text">
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br/>
              <%= link_to "Account locked?", new_unlock_path(resource_name) %><br/>
              <%= link_to "Resend account confirmation", new_confirmation_path(resource_name) %><br/>
            </div>
          </div>
          <br/><br/>

        </div>
      </div>
    </div>
  </div>
</div>
