<% content_for(:header) do %>
  <section class="knowledge-header-section">

    <div class="row">
      <div class="col-md-2">
        <div class="pull-right">
          <%= image_tag image_medium_url(@article),  class: "img-white-circle", size: '125x125' %>
        </div>
      </div>
      <div class="col-md-8">
        <div class='article-header-subheading'><%= "#{Article::CATEGORIES[@article.category]} tutorial" %></div>
        <h1><%= @article.article %></h1>
        <div class="header-text"><%= @article.summary %></div>
        <div class='header-date-text'>by <%= link_to "@#{@article.participant.name}", participant_path(@article.participant_id), class: 'participant-mention' %></div>
        <div class='header-date-text'> <%= @article.created_at.strftime("%-d %B '%y") %></div>
      </div>
  </section>
<% end %>
