<li>
  <%= link_to challenge_path(challenge) do %>
    <div class="row">
      <div class="col-xs-3">
        <div class="challenge-list-image text-center">
          <%= image_tag image_medium_url(Challenge.find(challenge.id)),  class: "img-circle", size: "40" %>
          <span class="challenge-badge <%= challenge.status_cd %>"><%= challenge.status_cd %></span>
        </div>
      </div>
      <div class="col-xs-9">
        <h4><%= challenge.challenge %></h4>

        <div class="challenge-list-detail">
          <span class="glyphicon glyphicon-eye-open"></span> <%= challenge.page_views %>&ensp; | &ensp;
          <span class="glyphicon glyphicon-user"></span> <%= challenge.participant_count %>&ensp; | &ensp;
          <span class="glyphicon glyphicon-list-alt"></span> <%= challenge.submission_count %>
        </div>
      </div>
    </div>
  <% end %>
</li>
