<%= link_to challenge_path(challenge) do %>
  <li>
    <%= challenge.hosting_institution.institution %><br/>
    <b><%= challenge.challenge %></b><br/>
    <%= challenge.start_date %>
    <%= challenge.end_date %>
    <span class="badge"><%= challenge.status_cd %></span>
  </li>
<% end %>
