<% content_for(:header) do %>

<div class="challenge-header">
  <%= image_tag image_medium_url(@challenge), class: 'img-circle img-responsive challenge-image' %>

  <div class='challenge-stats'>
    <span class="glyphicon glyphicon-eye-open"></span> <%= pluralize(@challenge.page_views, ' view') %>
    <br/>
    <span class="glyphicon glyphicon-user"></span> <%= pluralize(@challenge.participant_count, ' participant') %>    <br/>
    <span class="glyphicon glyphicon-list-alt"></span> <%= pluralize(@challenge.submission_count, ' submission') %>
  </div>

  <div class='challenge-info'>
    <h2><%= @challenge.challenge.upcase %></h2>
    <p><%= @challenge.tagline %></p>
  </div>

  <% if !@challenge.perpetual_challenge %>
    <%= render partial: 'challenges/show/calendar' %>
  <% end %>
</div>

<% end %>
