<% content_for(:header) do %>

<div class='challenge-header'>
  <div class="row">
    <div class="col-md-1 col-md-offset-1">
      <div id="enclosure">
        <div id="image-container">
          <img src="<%= image_medium_url(@challenge) %>"/>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h2><%= @challenge.challenge.upcase %></h2>
      <p><%= @challenge.tagline %></p>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-1 col-md-offset-1">
      <div class="mini-calendar pull-left">
        <strong><%= @challenge.start_date.strftime("%^b") %></strong>
        <span><%= @challenge.start_date.strftime("%-d") %></span>
      </div>
    </div>

    <div class="col-md-8">
      <div class="progress text-center">
        <div class="progress-bar challenge-progress" role="progressbar" style="width: <%= @challenge.pct_passed %>%;">
          <span><%= @challenge.remaining_text %></span>
        </div>
      </div>
    </div>

    <div class="col-md-1">
      <div class="mini-calendar pull-right">
        <strong><%= @challenge.end_date.strftime("%^b") %></strong>
        <span><%= @challenge.start_date.strftime("%-d") %></span>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div><!-- row -->

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="pull-left">
        <h6><%= @challenge.start_date.strftime("%a %-d %b %Y") %></h6>
      </div>
      <div class="pull-right">
        <h6><%= @challenge.end_date.strftime("%a %-d %b %Y") %></h6>
      </div>
    </div>
  </div>

</div><!-- challenge-header -->

<% end %>
