<% content_for(:header) do %>

<div class='header-section'>
  <div class="row">
    <div class="col-md-1 col-md-offset-1">
      <div id="enclosure">
        <div id="image-container">
          <img src="<%= image_medium_url(@challenge) %>"/>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h2><%= @challenge.challenge.upcase %></h2>
      <p><%= @challenge.tagline %></p>
    </div>
  </div>

  <div class="hidden-xs hidden-sm">
  <br/>

  <div class="row">
    <div class="col-md-1 col-md-offset-1">
      <div class="mini-calendar pull-left">
        <strong><%= @challenge.start_date.strftime("%^b") %></strong>
        <span><%= @challenge.start_date.strftime("%-d") %></span>
      </div>
    </div>

    <div class="col-md-8">
      <% if @challenge.pct_passed < 50 %>

        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= @challenge.pct_passed %>%;">
          </div>
            <span class="challenge-progress"><%= @challenge.remaining_text %></span>
        </div>

      <% else %>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= @challenge.pct_passed %>%;">
            <span class="challenge-progress"><%= @challenge.remaining_text %></span>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-1">
      <div class="mini-calendar pull-right">
        <strong><%= @challenge.end_date.strftime("%^b") %></strong>
        <span><%= @challenge.start_date.strftime("%-d") %></span>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div><!-- row -->

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="pull-left">
        <h6><%= @challenge.start_date.strftime("%a %-d %b %Y") %></h6>
      </div>
      <div class="pull-right">
        <h6><%= @challenge.end_date.strftime("%a %-d %b %Y") %></h6>
      </div>
    </div>
  </div>
</div>
</div><!-- challenge-header -->

<% end %>
