<% content_for(:header) do %>

<div class='header-section'>
  <br/>
  <div class="row">
    <div class="col-md-1 col-md-offset-1">
      <div class="enclosure">
        <div class="image-container">
          <img src="<%= image_medium_url(@challenge) %>"/>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h2><%= @challenge.challenge.upcase %></h2>
      <p><%= @challenge.tagline %></p>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <div class="challenge-list-detail">
        <br/>
        <span class="glyphicon glyphicon-eye-open"></span> <%= @challenge_view.page_views %> views <br/>
        <span class="glyphicon glyphicon-user"></span> <%= @challenge_view.participant_count %> participants <br/>
        <span class="glyphicon glyphicon-list-alt"></span> <%= @challenge_view.submission_count %> submissions
      </div>
    </div>
  </div><!-- row -->
  <br/><br/>

  <% if !@challenge.perpetual_challenge %>
    <%= render partial: 'challenges/show/calendar' %>
  <% end %>
</div><!-- header-section -->
<% end %>
