<% content_for(:sidebar) do %>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Overview', challenge_path(@challenge, anchor: 'overview') %></li>
      <li><%= link_to 'Rules', challenge_path(@challenge, anchor: 'rules') %></li>
      <li><%= link_to 'Prizes', challenge_path(@challenge, anchor: 'prizes') %></li>
      <li><%= link_to 'Resources', challenge_path(@challenge, anchor: 'resources') %></li>
      <hr/>
      <li><%= link_to 'Leaderboard', challenge_leaderboards_path(@challenge) %></li>
      <li><%= link_to 'Discussion', challenge_topics_path(@challenge) %></li>
      <li><%= link_to 'Dataset', challenge_dataset_files_path(@challenge) %></li>
      <li><%= link_to 'Submit Entry', challenge_submissions_path(@challenge) %></li>
      <hr/>
      <% if current_participant && (current_participant.admin? || current_participant.organizer_id == @challenge.organizer_id) %>
        <li><%= link_to 'Edit', edit_challenge_path(@challenge) %></li>
      <% end %>
    </ul>
<% end %>
