<div class='content'>
  <%= concept(Challenge::Cell::ChallengeMasthead, @challenge, current_participant: current_participant) %>
  <%= concept(Challenge::Cell::ChallengeSubnav, @challenge, current_participant: current_participant) %>

  <div class="row">
    <div class="article">

      <% if @challenge.description.present? %>
        <h2>Overview</h2>
        <div class='markdown-wrap'>
          <%= @challenge.description.html_safe %>
        </div>
      <% end %>

      <% if @challenge.challenge_partners.any? %>
        <h2>Partners</h2>
        <div class='markdown-wrap'>
          <% @challenge.challenge_partners.each do |partner|%>
            <%= link_to partner.partner_url, target: :_blank do %>
              <%= image_tag partner.image_file.url, class: 'img-logo' %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if @challenge.evaluation.present? %>
        <h2>Evaluation</h2>
        <div class='markdown-wrap'>
          <%= sanitize(@challenge.evaluation) %>
        </div>
      <% end %>

      <% if @challenge.rules.present? %>
        <h2>Rules</h2>
        <div class='markdown-wrap'>
          <%= sanitize(@challenge.rules) %>
        </div>
      <% end %>

      <% if @challenge.prizes.present? %>
        <h2>Prizes</h2>
        <div class='markdown-wrap'>
          <%= sanitize(@challenge.prizes) %>
        </div>
      <% end %>

      <% if @challenge.resources.present? %>
        <h2>Resources</h2>
        <div class='markdown-wrap'>
          <%= sanitize(@challenge.resources) %>
        </div>
      <% end %>



    </div>
  </div>
</div>
