<div class='content'>
  <%= concept(Challenge::Cell::ChallengeMasthead, @challenge, current_participant: current_participant) %>
  <%= concept(Challenge::Cell::ChallengeSubnav, @challenge, current_participant: current_participant) %>

  <div class="row">
    <div class="article">

      <% if @challenge.description.present? %>
        <h2>Overview</h2>
        <div class='markdown-wrap'>
          <%= sanitize(@challenge.description) %>
        </div>
      <% end %>

      <% if @challenge.evaluation.present? %>
        <h2>Evaluation</h2>
        <div class='markdown-wrap'>
          <%= sanitize(@challenge.evaluation) %>
        </div>
      <% end %>

      <% if @challenge.rules.present? %>
        <h2>Rules</h2>
        <div class='markdown-wrap'>
          <%= sanitize(@challenge.rules) %>
        </div>
      <% end %>

      <% if @challenge.prizes.present? %>
        <h2>Prizes</h2>
        <div class='markdown-wrap'>
          <%= sanitize(@challenge.prizes) %>
        </div>
      <% end %>

      <% if @challenge.resources.present? %>
        <h2>Resources</h2>
        <div class='markdown-wrap'>
          <%= sanitize(@challenge.resources) %>
        </div>
      <% end %>

    

    </div>
  </div>
</div>
