<div class='table-responsive'>
  <table class='table table-hover table-bordered leaderboard sortable'>
    <thead>
      <tr>
        <th>#</th>
        <% if challenge.media_on_leaderboard %>
          <th></th>
        <% end %>
        <th>Participant</th>
        <% if challenge.secondary_sort_order == :not_used %>
          <th><%= challenge.score_title %></th>
        <% else %>
          <th><%= challenge.score_title %></th>
          <th><%= challenge.score_secondary_title %></th>
        <% end %>
        <th>Entries</th>
        <th>Last Submission UTC</th>
      </tr>
    </thead>

    <tbody>
      <% leaderboards.each_with_index do |leader,row| %>
      <tr>
        <td><%= row + 1 %></td>
        <% if challenge.media_on_leaderboard %>
          <td>
            <%= link_to challenge_video_modal_path(submission_id: leader.submission_id,
                                                   participant: leader.participant.name,
                                                   score: leader.score),
                    {:remote => true,
                      'data-toggle' =>  "modal",
                      'data-target' =>
                      '#modal-window' } do %>
              <%= submission_media(leader.submission_id) %>
            <% end %>
          </td>
        <% end %>
        <td><%= link_to participant_path(leader.participant) do %>
              <%= image_tag avatar_url(leader.participant,'medium'), size: '90x90', class: "img-circle navbar-profile-img img-responsive center-block" %>
              <%= leader.participant.name %>
            <% end %>
          </td>
        <% if challenge.completed? %>
          <% if challenge.secondary_sort_order == :not_used %>
            <td class="score"><%= link_to leader.score, challenge_submissions_path(leader.challenge_id, participant_id: leader.participant_id) %></td>
          <% else %>
            <td class="score"><%= link_to leader.score, challenge_submissions_path(leader.challenge_id, participant_id: leader.participant_id) %></td>
            <td class="score"><%= link_to leader.score_secondary, challenge_submissions_path(leader.challenge_id, participant_id: leader.participant_id) %></td>
          <% end %>
          <td><%= link_to leader.entries, challenge_submissions_path(leader.challenge_id, participant_id: leader.participant_id) %></td>
        <% else %>
          <% if challenge.secondary_sort_order == :not_used %>
            <td class="score"><%= leader.score %></td>
          <% else %>
            <td class="score"><%= leader.score %></td>
            <td class="score"><%= leader.score_secondary %></td>
          <% end %>
          <td><%= leader.entries %></td>
        <% end %>
        <td><%= leader.created_at.strftime("%a, %e %b %Y %R") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
