<%= simple_form_for([@topic,@post]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :topic, as: :hidden %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.input :post, as: :bootsy, input_html: { rows: 10 } %>
    <%= f.input :notify %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
