<%= simple_form_for([@topic,@post]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :topic, as: :hidden %>
    <%= f.hidden_field :user_id, value: current_participant.id %>
    <%= f.input :notify %>

    <div id="content">
      <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active">
          <a href="#editor-pane" data-toggle="tab">Write</a>
        </li>
        <li>
          <a href="#preview-pane" data-toggle="tab">Preview</a>
        </li>
      </ul>
      <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="editor-pane">
          <%= f.label :post %>
          <%= render 'markdown_editor/toolbar' %>
          <%= f.text_area :post, id: 'markdown_textarea', class: 'form-control', placeholder: 'Please describe your submission.', required: true, rows: 10 %>
        </div>
        <div class="tab-pane" id="preview-pane">
          <div id="markdown-preview"></div>
        </div>
      </div>
    </div>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
