<%= simple_form_for(@timeline) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :competition %>
    <%= f.input :seq %>
    <%= f.input :event %>
    <%= f.input :event_time %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
