<p id="notice"><%= notice %></p>

<p>
  <strong>Challenge:</strong>
  <%= @timeline.challenge %>
</p>

<p>
  <strong>Seq:</strong>
  <%= @timeline.seq %>
</p>

<p>
  <strong>Event:</strong>
  <%= @timeline.event %>
</p>

<p>
  <strong>Event time:</strong>
  <%= @timeline.event_time %>
</p>

<%= link_to 'Edit', edit_timeline_path(@timeline) %> |
<%= link_to 'Back', timelines_path %>
