<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job_posting.title %>
</p>

<p>
  <strong>Organisation:</strong>
  <%= @job_posting.organisation %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @job_posting.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @job_posting.contact_email %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @job_posting.contact_phone %>
</p>

<p>
  <strong>Posting date:</strong>
  <%= @job_posting.posting_date %>
</p>

<p>
  <strong>Closing date:</strong>
  <%= @job_posting.closing_date %>
</p>

<p>
  <strong>Status cd:</strong>
  <%= @job_posting.status_cd %>
</p>

<p>
  <strong>Description markdown:</strong>
  <%= @job_posting.description_markdown %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job_posting.description %>
</p>

<p>
  <strong>Remote:</strong>
  <%= @job_posting.remote %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job_posting.location %>
</p>

<p>
  <strong>Country:</strong>
  <%= @job_posting.country %>
</p>

<p>
  <strong>Page views:</strong>
  <%= @job_posting.page_views %>
</p>

<%= link_to 'Back', job_postings_path %>
