<% content_for(:sidebar) do %>
    <ul class="nav nav-stacked sidebar-menu">
      <li class="hidden-xs hidden-sm"><%= link_to 'DASHBOARD', '#', class: 'sidebar-heading' %></li>
      <li><%= glyphicon_link 'list-alt', 'Overview', '#' %></li>
      <li><%= glyphicon_link 'book', 'Rules', '#' %></li>
      <li><%= glyphicon_link 'star', 'Prizes', '#' %></li>
      <li><%= glyphicon_link 'equalizer', 'Resources', '#' %></li>
      <hr/>
      <li><%= glyphicon_link 'arrow-up', 'Leaderboard', '#' %></li>
      <li><%= glyphicon_link 'random', 'Discussion', '#' %></li>
      <li><%= glyphicon_link 'signal', 'Dataset', '#' %></li>
      <li><%= glyphicon_link 'inbox', 'Submit Entry', '#' %></li>
      <hr/>
      <% if current_participant.admin? || current_participant.organizer_id == @challenge.organizer_id %>
        <li><%= glyphicon_link 'pencil', 'Edit', '#' %></li>
      <% end %>
    </ul>
<% end %>
