<footer class="<%= footer_class %>">
  <div class="row">
    <a class="logo-footer" href="http://epfl.ch/">
      <%= image_tag 'epfl-logo.png' %>
    </a>
    <p class="copyright">&#9400; 2018 crowdAI</p>
    <ul class="social">
      <li>
        <a href="https://twitter.com/crowd_ai">
          <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/crowdAI">
          <i class="fab fa-github fa-lg" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <ul class="links">
      <li><%= link_to 'FAQ', faq_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><%= link_to 'Privacy', privacy_path %></li>
      <li><%= link_to 'Terms of Service', terms_path %></li>
      <li><%= link_to 'Cookie consent', cookies_path %></li>
    </ul>
  </div>
</footer>
