  <nav class="navbar navbar-footer navbar-static-bottom" role="navigation">
    <div class="links-container">
      <ul>
        <li><%= link_to 'Contact us', page_path('contact') %> | <%= awesome_link('fa-twitter', '@crowd_ai', 'https://twitter.com/crowd_ai') %></li>
        <li><%= link_to 'Privacy', page_path('privacy') %> | <%= link_to 'Terms of Service', page_path('terms') %></li>
        <li><%= link_to image_tag("epfl_2x", height: '60'), 'http://epfl.ch/' %></li>
      </ul>
    </div>
  </nav>
