<header>
  <div class="row">
    <div class="branding">
      <a class="logo" href="/" title=""></a>
    </div>
    <%#= render partial: 'layouts/search' %>
    <% if current_participant %>
      <div class="user">
        <a id='toggle-user' href='#'><%= concept(Image::Cell, current_participant) %></a>
        <div id="user-container">
          <ul>
            <li><%= link_to current_participant.name, participant_path(current_participant) %></li>
            <li><%= link_to 'Profile', edit_participant_path(current_participant) %></li>
            <li><%= link_to 'Account Settings', edit_participant_registration_path %></li>
            <li><%= link_to 'Log Out', destroy_participant_session_path, :method => :delete %></li>
          </ul>
        </div>
      </div>
      <%= render partial: 'layouts/notifications' %>
    <% end %>
    <nav class="primary">
      <ul>
        <li><%= link_to 'Challenges', challenges_path %></li>
        <li><%= link_to 'Knowledge Base', articles_path %></li>
        <li><%= link_to 'Job Board', job_postings_path %></li>
        <% if current_participant && current_participant.admin? %>
          <li><%= link_to "Admin", '/admin' %></li>
        <% end %>
        <% if current_participant.nil? %>
          <li><%= link_to "Sign up", new_participant_registration_path %></li>
          <li><%= link_to "Log in", new_participant_session_path %></li>
        <% end %>
      </ul>
    </nav>
    <div class="menu">
      <a id="mobile-nav" href="#">
        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <nav class="mobile-primary">
    <div id="mobile-nav-header">
      <div class="row">
        <a class="logo" href="#" title=""></a>
        <a id="mobile-nav" href="#">
          <i class="fa fa-times fa-lg" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <ul>
      <li><h3><%= link_to 'Challenges', challenges_path %></h3></li>
      <li><h3><%= link_to 'Knowledge Base', articles_path %></h3></li>
      <li><h3><%= link_to 'Job Board', job_postings_path %></h3></li>
    </ul>
    <% if current_participant %>
      <ul>
        <li><h4><%= link_to current_participant.name, participant_path(current_participant) %></h4></li>
        <li><h4><%= link_to 'Profile', edit_participant_path(current_participant) %></h4></li>
        <li><h4><%= link_to 'Account Settings', edit_participant_registration_path %></h4></li>
        <li><h4><%= link_to 'Log Out', destroy_participant_session_path, :method => :delete %></h4></li>
      </ul>
    <% end %>
  </nav>
</header>
