<header>
  <div class="row">
    <div class="branding">
      <a class="logo" href="#" title=""></a>
    </div>
    <%= render partial: 'layouts/search' %>
    <% if current_participant %>
      <div class="user">
        <a id='toggle-user' href='#'><%= concept(Image::Cell, current_participant) %></a>
        <div id="user-container">
          <ul>
            <li><%= link_to current_participant.name, participant_path(current_participant) %></li>
            <li><%= link_to 'Profile', edit_participant_path(current_participant) %></li>
            <li><%= link_to 'Account Settings', edit_participant_registration_path %></li>
            <li><%= link_to 'Log Out', destroy_participant_session_path, :method => :delete %></li>
          </ul>
        </div>
      </div>
    <% end %>
    <%= render partial: 'layouts/notifications' %>

    <nav class="primary">
      <ul>
        <li>
          <a href="#">Challenges</a>
        </li>
        <li>
          <a href="#">Knowledge Base</a>
        </li>
      </ul>
    </nav>
    <div class="menu">
      <a id="mobile-nav" href="#">
        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <nav class="mobile-primary">
    <div id="mobile-nav-header">
      <div class="row">
        <a class="logo" href="#" title=""></a>
        <a id="mobile-nav" href="#">
          <i class="fa fa-times fa-lg" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <ul>
      <li>
        <h3>
          <a href="#">Challenges</a>
        </h3>
      </li>
      <li>
        <h3>
          <a href="#">Knowledge Base</a>
        </h3>
      </li>
    </ul>
    <ul>
      <li>
        <h4>
          <a href="#">Jason Reynolds</a>
        </h4>
      </li>
      <li>
        <h4>
          <a href="#">Account Settings</a>
        </h4>
      </li>
      <li>
        <h4>
          <a href="#">Log Out</a>
        </h4>
      </li>
    </ul>
  </nav>
</header>
