<%= render 'layouts/navbars/navbar_public' %>
<div class="container-fluid">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render 'layouts/footer' %>
</div>
