<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>crowdAI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content=""/>
    <meta name="description" content="crowdAI connects data science experts and enthusiasts with open data to solve specific problems, through challenges"/>
    <meta property="og:title" content="crowdAI"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="crowdAI connects data science experts and enthusiasts with open data to solve specific problems, through challenges"/>
    <%= favicon_link_tag 'favicon/apple-icon-57x57.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "57x57" %>
    <%= favicon_link_tag 'favicon/apple-icon-60x60.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "60x60" %>
    <%= favicon_link_tag 'favicon/apple-icon-72x72.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "72x72" %>
    <%= favicon_link_tag 'favicon/apple-icon-76x76.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "76x76" %>
    <%= favicon_link_tag 'favicon/apple-icon-114x114.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "114x114" %>
    <%= favicon_link_tag 'favicon/apple-icon-120x120.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "120x120" %>
    <%= favicon_link_tag 'favicon/apple-icon-144x144.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "144x144" %>
    <%= favicon_link_tag 'favicon/apple-icon-152x152.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "152x152" %>
    <%= favicon_link_tag 'favicon/apple-icon-180x180.png', type: 'image/png', sizes: "192x192" %>
    <%= favicon_link_tag 'favicon/favicon-32x32.png', type: 'image/png', sizes: "32x32" %>
    <%= favicon_link_tag 'favicon/favicon-96x96.png', type: 'image/png', sizes: "96x96" %>
    <%= favicon_link_tag 'favicon/favicon-16x16.png', type: 'image/png', sizes: "16x16" %>
    <%= favicon_link_tag 'favicon/apple-icon-57x57.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "57x57" %>
    <%= favicon_link_tag 'favicon/apple-icon-57x57.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "57x57" %>
    <link rel="manifest" href="<%= asset_path 'favicon/manifest.json' %>">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="<%= asset_path 'favicon/ms-icon-144x144.png' %>">
    <meta name="theme-color" content="#ffffff">
    <%#= render partial: 'layouts/rollbar_head' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:400,400i,500,500i,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/bee91422da.js"></script>
    <%= render partial: 'layouts/google_analytics_head' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body id='controller-action', data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>">
    <div data-behavior="progress-bar" class="progress-bar"></div>
    <%= concept(Header::Cell, nil, current_participant: current_participant) %>
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
    <%= insert_paloma_hook %>
    <%= concept(Footer::Cell, nil, current_participant: current_participant) %>
    <%= render partial: 'layouts/google_analytics_body' %>
  </body>
</html>
