<!DOCTYPE html>
<html>
  <head>
    <title>crowdAI</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'crowdai_favicon.ico' %>
    <%= Gon::Base.render_data %>
    <% if Rails.env.production? %>
      <!-- https://github.com/mmontossi/analytics-rails -->
    <script data-turbolinks-eval="false">
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        },
        i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', '<%= ENV['GOOGLE_ANALYTICS_KEY'] %>', 'auto', {'allowLinker': true});
      ga('require', 'linker');
      ga('linker:autoLink', ['crowdai.github.io']);
    </script>
    <% end %>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>


  <body data-no-turbolink="false">
    <div class="container-fluid">
      <% if participant_signed_in? %>
        <%= render 'layouts/navbars/navbar_authenticated' %>
      <% else %>
        <%= render 'layouts/navbars/navbar_public' %>
      <% end %>
      <%= render partial: "layouts/flash_messages", flash: flash %>

      <% if content_for?(:header) %>
        <%= yield(:header) %>
      <% end %>


      <% if content_for?(:sidebar) %>
        <div class="row white-background-fix equal-col-height">
          <div class="col-sm-3 hidden-xs sidebar-container">
            <%= yield(:sidebar) %>
          </div>
          <div class="col-sm-9 hidden-xs">
            <%= yield %>
          </div>
          <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <%= yield %>
          </div>
        </div>
      <% else %>
        <div class="row white-background-fix">
          <div class='col-xs-12'>
            <%= yield %>
          </div>
        </div>
      <% end %>

      <%= render 'layouts/footer' %>
    </div>

    <% if Rails.env.production? %>
      <script>
        ga('set', 'location', location.href.split('#')[0]);
        ga('send', 'pageview', {"title": document.title});
      </script>
    <% end %>

  </body>
</html>
