<!DOCTYPE html>
<html>
<head>
  <title>Crowdai</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink="false">
  <% if user_signed_in? %>
    <%= render 'layouts/authenticated_layout' %>
  <% else %>
    <%= render 'layouts/public_layout' %>
 <% end %>
</body>
</html>
